button:hover, a.btn-default:hover {
    text-decoration: none;
    color: white;
}
.btn {
    font-family: 'Ubuntu', 'Noto Sans CJK TC', arial, 'Microsoft JhengHei', '微軟正黑體', sans-serif;
    font-size: 16px;
    height: 40px;
    text-align: center;
    letter-spacing: .7px;
}
.btn:focus {
    outline: none;
    box-shadow:none;
}
.btn.disabled, .btn:disabled {
    opacity: 1;
}
.home-qa .btn {
    min-width: auto;
}
.home-qa .btn.qa-button {
    position: absolute;
    right: 1.5rem;
    top: calc(1rem - 5px);
}

.btn-primary {
    background-color: #FF8000;
    color: #ffffff!important;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 2px 10px #EDA15F;
    min-width: 150px;
    padding: 0px 20px 0 21px;
}

a.btn-primary {
    padding: 7px 17px 0 19px;
    background-color: #FF8000;
    border: none;
}

.btn-primary:hover {
    background-color: #FF8000;
    box-shadow: 0px 4px 15px #EDA15F;
    
}

.btn-primary:active {
    background-color: ##FF8000;
    box-shadow: 0px 2px 10px #EDA15F;
}
.btn-primary:disabled {
    background-color: #EDA15F;
    box-shadow: none;
    border: none;
    cursor: not-allowed;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #FF8000;
    box-shadow: none;
    transform: translateY(1px);
}

.btn-secondary {
    background: #AAAAAA 0% 0% no-repeat padding-box;
    color: #ffffff;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 4px 10px #00000029;
    font-weight: normal;
    min-width: 150px;
}

.btn-secondary:hover {
    background-color: #AAAAAA;
    box-shadow: 0px 4px 15px #00000029;
}

.btn-secondary:active {
    background-color: #AAAAAA;
    box-shadow: 0px 4px 10px #00000029;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #AAAAAA;
    box-shadow: none;
    transform: translateY(1px);
}

.btn-default {
    font-size: 14px;
    background-color: #AAAAAA;
    color: #ffffff;
    height: 25px;
    border-radius: 20.5px;
    box-shadow: 0px 4px 10px #00000029;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding-top: 0.20rem !important;
}

.btn-submit {
    font-size: 14px;
    background-color: #ED6D00;
    color: #ffffff;
    height: 25px;
    border-radius: 21px;
    box-shadow: 0px 2px 10px #EDA15F;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding-top: 0.20rem !important;
}

.btn-submit:hover {
    color: #ffffff;
    box-shadow: 0px 4px 15px #EDA15F;
}

#mv_getSMSCode .modal-dialog{
    z-index: 1041 !important;
}

.btn-square {
    background-color: #ffffff;
    width: 128px;
    height: 128px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    box-shadow: 0px 2px 5px #00000029;
}

.btn-square:focus {
    outline: 0;
}

.btn-square:hover {
    box-shadow: 0px 4px 8px #00000029;
    text-decoration: none;
}

.btn-square p {
    color: #696A6C;
    font-size: 12px;
}

.btn-small, .btn-small:focus, .btn-small:active {
    height: auto;
    min-width: auto !important;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    padding: 2px 12px;
    font-size: 16px;
    color: #ED6D00;
    box-shadow: 0px 2px 10px #AAAAAA;
}

.btn-active, .btn-active:focus, .btn-active:active {
    background-color: #ED6D00;
    color: #ffffff;
    border: 2px solid #ED6D00;
}

@media (max-width: 575.98px) {
    .btn-primary, .btn-secondary {
        min-width: 150px;
    }
   
}