@import 'nav.css';
@import 'btn.css';
/*@import 'process-state.css';
@import 'modal.css';*/
@import 'footer.css';
/*@import 'dropzone.css';*/
@import 'progressbar.css';

@media (min-width: 1200px) {
    .container {
        max-width: 1060px;
    }
}

body {
    font-family: 'Ubuntu', 'Noto Sans CJK TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    color: #404040;
    letter-spacing: .9px;
}

h1 {
    font-weight: 600;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

p.lead {
    font-weight: 600;
}

ol li {
    font-size: 14px;
    letter-spacing: .5px;
}

a, a:hover {
    color: #ED6D00;
    text-decoration: none;
}

.home section i,
.feature-title {
    color: #ED6D00;
    font-size: 20px;
}

.home section .feature-detail {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.78;
}

h3.home-feature,
h3.home-22,
h3.home-qa {
    color: #303030;
    margin-bottom: 40px;
}

.home-hero {
    margin-top: -56px;
    height: 565px;
    background-image: linear-gradient(90deg, rgb(0, 163, 233, 0.5) 3%, rgba(0, 163, 233, 0.2) 100%), url(../img/hero-bg.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.home-hero h1 {
    color: white;
    text-shadow: #00000050 0px 3px 6px;
}

.home-hero p {
    color: white;
    text-shadow: #00000050 0px 3px 6px;
}

.home-hero .hero-slogan-2 {
    margin-top: -6px !important;
}

.home-hero .container {
    padding-top: 200px;
}

.home-hero .btn-primary i {
    margin-left: 10px;
}

.highlight-content {
    font-size: 28px;
    color: #ED6D00;
}

.large-bg {
    background: transparent linear-gradient(154deg, #00A3E9 0%, #07A4E2 24%, #E4BD15 88%, #FABF00 100%) 0% 0% no-repeat padding-box;
    opacity: 0.8;
}

.home .feature-img {
    margin-bottom: -70px;
    z-index: 10;
}

.home-process .step-box {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px #00000029;
    height: 200px;
}

.home-process .step-box-hr {
    border: none;
    border-top: 2px dashed #FFFFFF;
}

.home-process .step-box h1 {
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #404040;
}

/* error group*/


.error-block {
    background: #E2231A;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
    display: block;
}

.error-block span {
    color: #fff;
   
}

.error-icon {
    width: 65px;
    height: 65px;
    display: inline-block;
    /*margin: -30px 13px 0 0;*/
}

.error-txt p {
    display: inline-block;
    margin-left: -13px;
    color: #fff;
    margin-bottom: 0px;
}


.error-lg {
    font-size: 18px;
    padding: 7px 0 0 0;
    text-align: left;
    display: block;
}

.error-xs {
    font-size: 14px;
    display: block!important
}

/*over*/

.home-process .step-box .step-title {
    color: #ED6D00;
    font-size: 20px;
}

.home-process .step-box .btn-primary {
    font-size: 16px;
}

.home-qa.section-container {
    background: #DFE0D499 0% 0% no-repeat padding-box;
}

.home-qa .card {
    color: #404040;
    border-radius: 4px;
}

.home-qa .card .card-qa-title {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.home-qa .card .row p:hover {
    cursor: pointer;
}

.home-qa .card button:active {
    outline: none;
}

.home-qa .card button:focus {
    outline: 0;
}

.home-qa .card-body p,
ul,
li {
    font-size: 14px;
    color: #404040;
}

.home-persuasion {
    background-color: #FFD34E;
}

.home-persuasion h3,
h5 {
    color: #404040;
    font-weight: bolder;
}

.home-persuasion .persuasion-img {
    margin-bottom: -80px;
    z-index: 9999999;
}


.page main {
    opacity: 1;
    background: #f3f3f3;
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 126px);
}

.page .main-content {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    /*padding-bottom: 50px !important;*/
}

.page .main-content-title {
    color: #303030;
    font-weight: bold;
    font-size: 32px;
    margin-top: 36px;
    margin-bottom: 60px;
}

.page .main-content-desc {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    color: #000000;
}

.page .main-content-desc-highlight {
    font-size: 14px;
    font-weight: bold;
    color: #ED6D00;
}

.page .section-title {
    font-weight: normal;
    color: #000000;
    font-size: 16px;
}

.page .section-title .must {
    color: #dc3522;
}

.page .section-title span {
    font-size: 16px;
    color: #000000;
}

.page .action-container {
    margin-top: -22px;
    padding-bottom: 30px;
}

.page .agreement {
    max-height: 200px;
    height: auto;
    /*border: 1px solid #AAAAAA;*/
    border-radius: 4px;
    /*padding: 10px 15px 0px 15px;*/
}

.page .agreement-pdf {
    max-height: 600px;
}

.page .agreement h5 {
    font-size: 1rem;
}

.page .agreement p {
    margin-bottom: 0.5rem;
    font-size: 16px;
    text-indent: initial;
    margin-left: -32px;
    font-weight: lighter;
}

.page .agreement .table p {
    margin-left: 0;
    text-align: left;
}

.page .agreement ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0px;
    /*text-indent: -32px;*/
}

.page .agreement li {
    margin-bottom: 0.75rem;
    padding-left: 0px;
    /*text-indent: -32px;*/
}

.page .agreement .agreement-inner-ul {
    padding-top: 0rem;
    padding-bottom: 0rem; /*0.5rem*/
    padding-left: 0;
}

.page .agreement .agreement-inner-ul.agreement-indent-type-1 {
    margin-left: 24px;
    padding-top: 0.5rem;
    padding-bottom: 0;
}
.page .agreement .agreement-inner-ul.agreement-indent-type-1 li{
    padding-left: 12px;
    text-indent: -48px;
}

.page .agreement .agreement-outer-ul {
    margin-bottom: 0;
}



.page .title-bg {
    background-color: #e0e0e0;
}

.page #form_captcha, .page #verifycode {
    width: 140px;
    float: left;
}
.page .form_captcha_img {
    position: absolute;
    left: 133px;
    top:26px;
    width: 100px;
    overflow: hidden;
}

.page .form_captcha_img img {
    width: 120px;
}
.page .form_captcha_img ~ a{
    margin-left: 115px;
    position: absolute;
}
.page .highlight {
    color: #ED6D00;
}
.page .table .row {
    height: auto;
}

.page .table .row-double {
    height: 140px;
}

.page .table .row-one {
    height: 100px;
}

.page .table:not(.table-bordered) td,
tr {
    border: none;
}

.page .table td:first-child {
    width: 25%;
    text-align: right !important;
    /*background-color: #ebebeb;*/
}

.page .table .form-control {
    display: inline-block;
}

.page .table .form-title {
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    padding-top: 0.25rem;
}

.page .table .form-highlight, .form-highlight {
    font-size: 20px;
    color: #ED6D00 !important;
}
.page.page-confirm .table .form-highlight {
    font-size: 16px;
}
.page.page-confirm .table .list-inline .list-inline-item {
    font-size: 16px;
    margin-bottom: 0;
}

span.form-required {
    color: #dc3522;
}

.page .form-table .form-normal {
    font-size: 16px;
}

.page .form-table .invalid-feedback1 span,
i {
    color: #dc3522;
}

.form-sms-code {
    width: 185px;
}

.page .form-check-label {
    margin-left: 26px;
    color: #000;
}

.page .form-check-label::before {
    margin-left: -26px;
}

.page .form-table .text-normal {
    color: #000000;
    font-size: 14px;
}

.page .form-table .form-dropdown select.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-apprearance: none;
    width: 230px;
}

.page .form-table .form-relatives .custom-select {
    width: 130px;
}

.page .form-table .form-dropdown select.half-select {
    width: 222px !important;
}

.page .form-table .form-dropdown select.three-select {
    width: 94px !important;
}

.page .form-table .form-dropdown select:required {
    height: 40px;
    font-size: 14px;
    text-align: left;
    text-align-last: left;
}

.page .form-table .form-dropdown option {
    text-align: left;
}

.page .form-table .dropdown-result p {
    color: #000000;
    font-size: 14px;
}

.page .form-table input.form-control {
    width: 230px;
    height: 41px;
    font-weight: normal;
    border: 1px solid #BEBEC0;
    border-radius: 4px;
    background-image: none;
    margin-top: -10px;
}

.page .form-table input::placeholder {
    font-weight: normal;
    color: #aaaaaa;
    font-size: 14px;
}

.page .form-table .notice {
    font-size: 14px;
    color: #aaaaaa;
    margin-bottom: 0;
}

.page .form-table .form-dropdown-btn {
    width: 230px;
    height: 40px;
    background-color: none;
    border: 1px solid #BEBEC0;
    border-radius: 4px;
    color: #aaaaaa;
}

.page .form-table .form-dropdown-btn:active {
    outline: none;
}

.invalid-feedback {
    color: #fff;
    background: #E2231A;
    width: fit-content;
    /*padding: .5px 4px;*/
}

.form-control:not(:required), .form-control.is-valid:focus {
    border-color: #BEBEC0 !important;
    padding-right: 0;
    background-image: none;
}

/*.form-control.is-valid:required,
.form-control[aria-invalid=false]:required,
.form-control[aria-invalid=false]:not(:placeholder-shown):required {
    color: #37A447;
    border-color: #37A447 !important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
}
*/

.form-control.is-invalid,
.form-control.is-invalid:required,
.form-control.is-invalid:placeholder-shown:required,
.form-control.is-invalid[aria-invalid=true],
.form-control[aria-invalid=true]:required {
    color: #E2231A;
    border-color: #E2231A !important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
}

.page .form-control.is-invalid::placeholder {
    color: #E2231A;
}
.page .form-control.is-invalid~.invalid-feedback {
    position: absolute;
}
.page.page-apply-5 .form-control~.invalid-feedback {
    position: relative;
    /*top: 30px;*/
    /*left: -235px;*/
    height: 0;
    width: 150px;
    display: flex;
}

/*
.page.page-apply-5 .form-control[aria-invalid=true]~.invalid-feedback {
    position: relative;
    top: 6px;
    left:-71px;
    height: 0;
}
*/

.form-check-input.is-valid:required~.form-check-label, 
.form-check-input[type="radio"]~.form-check-label {
    color: #404040;
}
.form-check-input.is-invalid:required~.form-check-label, 
.form-check-input[type="radio"].is-invalid:required~.form-check-label {
    color: #E2231A;
}


.page .form-control.is-invalid ~ #form_captcha-error.invalid-feedback, 
.page .form-control.is-invalid ~ #form_creditcard_qouta-error.invalid-feedback {
    top: 362px!important
}
.page .form-control.is-invalid ~ #form_smscode-error.invalid-feedback {
    bottom: 24px;
    left: calc(50% - 166px);
    text-align: left;
}

.page .table-bottom {
    background-color: #FABF00;
    margin-left: -24px;
    margin-right: -24px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: -25px;
    padding-top: 10px;
}

.page .table-bottom p {
    font-size: 16px;
    color: #404040;
}

.page .long-message p {
    margin-bottom: 0;
    font-size: 14px;
    color: #000000;
}

.page .apply-notice, li {
    font-size: 16px;
    font-weight: lighter;
    color: #000000;
}

.page-apply .section-title, .page-sign .section-title {
    margin-top: 30px;
}

.page .main-content ul.file-upload-rule li {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.page .page-sign .mini-agreement {
    width: 170px;
}

.page-sign #mv-miniagreement .agreement {
    height: 40vh !important;
    max-height: fit-content;
}

/*
.page .form-table input[type=radio].with-font {	
	font-size: 18px;
	color: #404040;
}
    
.page .form-table input[type=radio].with-font + label:before {
	font-family: "Font Awesome 5 Free";
	content: "\f111";
}
.page .form-table input[type=radio].with-font:checked + label:before {
    content: "\f058";
}
*/

input[type=checkbox] ~ .invalid-feedback {
    margin-left: 25px;
}

input[type=checkbox],
input[type=radio] {
    visibility: hidden !important;
    margin: 0!important;
    width: 0!important;
}


/* Set Font Awesome font, size, & positioning for the checkboxes/radio buttons plus the cursor on hover */

input[type=checkbox]+label:before,
input[type=radio]+label:before {
    visibility: visible;
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    position: relative;
    top: 1px;
    padding-right: 8px;
    color: #404040;
}

input[type=checkbox]+label:hover,
input[type=radio]+label:hover {
    cursor: pointer;
}

input[type=checkbox]+label:before,
input[type=radio]+label:before {
    content: '\f111 '!important;
    transition: .5s ease-in-out;
    color: #404040;
}

.form-check-input[type="checkbox"]:disabled~.form-check-label,
.form-check-input[type="radio"]:disabled~.form-check-label {
    color: #adb5bd;
}
input[type=checkbox]:disabled+label:before,
input[type=radio]:disabled+label:before {
    color: #adb5bd;
}

/*
input[type=checkbox]+label:hover:before,
input[type=radio]+label:hover:before {
    content: '\f058' !important;
    filter: alpha(opacity=20);
    opacity: 0.9;
    color: #404040;
}
*/

input[type=checkbox]:checked+label:before,
input[type=radio]:checked+label:before {
    content: '\f058' !important;
    color: #404040;
}

input[type=checkbox]:checked+label:hover:before,
input[type=radio]:checked+label:hover:before {
    filter: alpha(opacity=100);
    opacity: 1;
}

.custom-select {
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="rgb(73,80,87)" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
    background-position-x: right 0.75rem;
    background-position-y: center;
    background-size: 10px 14px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    text-overflow: ellipsis;
}

.bootstrap-select .dropdown-menu {
    box-shadow: 0px 4px 10px #00000029;
}

.bootstrap-select .dropdown-menu li a span.text {
    word-wrap: break-word;
    white-space: normal;
    font-size: 14px;
    padding: 4px 5px;
}
.bootstrap-select .dropdown-menu li.selected a span.text {
    color: white;
}
.bootstrap-select .dropdown-menu input {
    width: 100%;
}
.bootstrap-select .dropdown-menu .bs-searchbox .form-control {
    width: 212px;
}
.dropdown-toggle.btn {
    border: 1px solid #BEBEC0;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 14px;
    width: 230px;
    line-height: 2.0;
}
/*.bootstrap-select .selectpicker[aria-invalid=false] ~ .dropdown-toggle.btn,
.bootstrap-select .selectpicker[aria-invalid=false]:required ~ .dropdown-toggle.btn,
.bootstrap-select .selectpicker.is-valid:required option:checked ~ .dropdown-toggle.btn {
    color: #37A447;
    border: 1px #37A447 solid;
}
*/
.bootstrap-select .selectpicker.is-valid:required option:not(:checked) ~ .dropdown-toggle.btn,
.bootstrap-select .selectpicker:required:empty ~ .dropdown-toggle.btn,
.bootstrap-select .selectpicker.is-invalid ~ .dropdown-toggle.btn {
    border: 1px #E2231A solid;
}
.bootstrap-select .selectpicker.is-invalid ~ .dropdown-toggle.btn .filter-option-inner-inner {
    color: #E2231A;
}

.dropdown-item {
    padding: .25rem .25rem;
}

.bootstrap-select .btn {
    padding: .375rem .375rem .375rem .575rem;
}
.dropdown-item.active span {
    color: #ffffff;
}
.item-align-center .dropdown-item, .item-align-center .filter-option-inner-inner {
    text-align: center;
}
.item-align-right .dropdown-item, .item-align-right .filter-option-inner-inner {
    text-align: right;
}
.dropup .dropdown-toggle::after, .dropdown-toggle::after {
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="rgb(73,80,87)" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
    background-position-x: right 0.75rem;
    background-position-y: center;
    background-size: 10px 14px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    border: none;
    width: 14px;
    height: 10px;
}

h5.file-upload-title {
    font-size: 14px;
    color: #696A6C;
    font-weight: normal;
}

.file-uploaded-frame {
    width: 320px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #AAAAAA;
}

.file-uploaded-frame img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.page #mv-forgot {
    max-width: 80%;
    left: 10%;
}

.page .modal-content {
    border: none;
    box-shadow: 0px 2px 30px #0000004D;
}

.page-status .main-content-desc, .page-sign .main-content-desc {
    margin-bottom: 30px;
}
.page-status .tab-content .action-container {
    margin-top: 60px;
    margin-bottom: -90px;
}
.page-status .main-content {
    padding-bottom: 60px !important;
}
.page-sign .main-content .agreement li span {
    width: 50px;
    margin-left: 70px;
}
.page-sign .main-content .agreement li p {
    width: 60px;
}

.home .pro-service, .page-sign .mini-agreement {
    position: fixed;
    right: 0px;
    top: 50vh;
    z-index: 99999999999;
}

.page-sign .mini-agreement {
    right: -10px;
}

#mv-contact .modal-body {
    padding-bottom: 0;
}
#mv-contact i.fas {
    color: #ED6D00;
}
#mv-contact .hr-span {
    line-height: 32px;
}


/*KUO*/

button.back, button.close {
    border: none;
    margin-right: 15px;
    color: #696A6C;
    background: none;
    font-size: 16px;
    opacity: 1;
}

.progressbar li.current {
    font-weight: bold;
}


.progressbar {
    margin:8px 0px -20px 0px;
}

p.form-id {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding-top: 5px;
}

.user-information {
    color: #ED6D00;
    font-size: 20px;

}


span.form-icon i {

    color: #FD8023;
}


.p-2 i {
    color: #FD8023;
}


#form-loan-payment-source {
    margin-top: -17px;
}

.user-number {
    width: 230px;
    height: 41px;
    font-weight: normal;
    border: 1px solid #BEBEC0;
    border-radius: 4px;
    background-image: none;
}

.message-group {
    border: 1px solid #BEBEC0;
    padding: 8px 15px;
    border-radius: 10px;
    width: 100%;
}

.message-group li {
    list-style: none;
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

.content-note {
    font-size: 15px;
    color: #797979;
    margin-top: -10px;
}



.user-phone, .user-second {
    color: #ED6D00;
    font-size: 20px;
}

.modal-form {
    max-width: 180px;
    display: initial;
}

.modal-footer {
    border-top: none
}

.resend {
    border: none;
    background: #BEBEC0;
    color: #fff;
    border-radius: 40px;
    padding: 2px 13px;
}

.txt-green {
    font-size: 16px;
    color: #64b771;
    font-weight: bold;
}

.txt-red {
    font-size: 16px;
    color: #e2231a;
    font-weight: bold;
}

p.modal-txt {
    font-size: 18px;
}

.modal-title {
    font-size: 20px!important;
    color: #696A6C;
}

.modal-header {
    border-bottom: none;
}

.notice-txt li {
    color: #696A6C;
    font-size: 16px;
    list-style: none;
    font-weight: normal;
    text-indent: -14px;
    margin-left: 16px;
    margin-bottom: 8px;
    line-height: 1.4;
}

.notice-xs {
    font-size: 14px;
    color: #696A6C;
}

#form_email-error {
    position: unset;
}

.btn-adj {
    height: 31px!important;
    line-height: 16px;
    color: #fff;
    background: #FF8000;
    border:none;
    padding: 0 13px 0 13px;
}

button i {
    color: #fff;
    padding-left: 5px;
}

.sms-pic {
    float: left;
    height: 31px;
    margin-top: -4px;
}

.check-phone {
    line-height: 27px;
}

a.check-phone.i.fas {
    padding-top: 5px;
    color: #fff;
}

button#sms-btn-resend {
    margin-top: 0px!important;
    display: block;
}

#form-account {
    margin-top: -9px;
}

.adj-p {
    margin-top: 50px!important;
    line-height: 21px;
}

p.error-text {
    color: #000;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}

/*failed page*/

.fail-p{
    color: #e32219;
    font-weight: 500;
    font-size: 16px;

}

#failed-block  {
    font-size: 16px;
}

.failed-block li {
    list-style: none;
    font-weight: 400;
}




@media handheld,
screen and (max-width:1000px) {}

@media (min-width: 1060px) {
    .progress-indicator>li .bubble:after {
        left: 56%;
    }
}

@media (orientation: landscape) and (max-width: 736px) {}

@media (min-width: 575.98px) {
    .modal-dialog {
        max-width: 50%;
    }
    .home-process .step-box .col-sm-2-5 {
        max-width: 20.83333%;
        flex: 0 0 20.83333%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .home-process .row:last-child .step-box {
        height: auto;
    }
}

@media (max-width: 360px) {
    
}

@media (min-width: 768px) {
    form#validationForm {
        max-width: 768px;
        margin: 0px auto;
    }
}

@media (max-width: 575.98px) {
    .home-hero {
        background-image: linear-gradient(45deg, rgb(0, 163, 233, 0.8) 3%, rgba(0, 163, 233, 0.1) 100%), url(../img/hero-bg.jpg);
        background-position-x: 58%;
        background-position-y: center;
        background-size: cover;
    }

    .page .main-content-title {
        font-size: 30px;
    }
    .page main {
        /*min-height: calc(100vh - 196px);*/
    }
    .home-process .step-box h1 {
        font-size: 42px;
    }
    .home .home-qacard-body p, ul, li {
       
        color: #404040;
    }
    .page .main-content-title {
        margin-bottom: 0px;
    }
    .page .form_captcha_img {
        left: 128px;
        top: 9px;
    }
    .page .title-bg {
        background-color: transparent;
    }
    .page-apply .section-title {
        margin-top: 0px;
    }
    .page .main-content {
        padding-bottom: 15px !important;
    }
    .page .agreement p {
        font-size: 14px;
    }
    .page .agreement li {
        font-size: 14px;
        padding: 0px 5px;
    }
    .page .table .list-inline .list-inline-item {
        font-size: 16px;
    }
    .page.page-status .main-content {
        padding-bottom: 50px !important;
    }
    .page .form-control.is-invalid ~ #form_captcha-error.invalid-feedback, .page .form-control.is-invalid ~ #form_creditcard_qouta-error.invalid-feedback {
        top: 40px;
    }
    .page .form-control.is-invalid ~ #form_smscode-error.invalid-feedback {
        bottom: 73px;
        left: 37px;
    }

    .home .pro-service, .page-sign .mini-agreement {
        right: -20px;
        top: 89vh;
    }
    .page-sign .mini-agreement {
        right: -58px;
        width: 200px;
    }
    .home .pro-service img, .page-sign .mini-agreement img {
        width: 75%;
    }
    .page-sign #mv-miniagreement .agreement {
        height: 50vh !important;
    }

    .navbar-collapse .nav a.nav-link {
        color: #404040 !important;
    }

    .navbar-collapse .navbar-nav {
        padding-top: 15px;
    }

    .page .main-content-desc {
        margin-top: 6px;
    }
    .form-control {
        width: 100%;
    }
    .user-phone , .user-second{
        display: block
    }
    
    .modal-form {
        margin-bottom: 10px;
    }

    .error-lg {
        font-size: 16px;
    }

    p.form-id {
        font-size: 16px;
    }
    .progressbar {
        margin-bottom: 10px!important;
    }

    .modal-txt {
        font-size: 16px!important
    }

    .modal-title {
        font-size: 18px;
        text-align: center;
    }
    .page .form-table input.form-control {
        width: 100%;
    }
    .sms-pic {
        width: 100px;
        height: auto;
        margin-top: 0px;
    }
    .error-xs {
        
        line-height: 17px;
        margin-top: 5px;
    }

    button#sms-btn-resend {
        margin-top: 24px!important;
        display: block;
    }

    .page .form-control.is-invalid ~ #form_captcha-error.invalid-feedback, 
    .page .form-control.is-invalid ~ #form_creditcard_qouta-error.invalid-feedback {
    top: 342px!important
    }

}
    
    
@media (min-width: 992px) {
    .container {
        max-width: 574px!important;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 574px!important
    }
}

@media (min-width: 575.98px) and (max-width: 991.98px) {
    .home-process .step-box h1 {
        font-size: 40px;
    }
    .modal-dialog {
        max-width: 80%;
    }
    .page-sign .mini-agreement {
        top: 89vh;
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .home-process .step-box h1 {
        font-size: 60px;
    }
    .modal-dialog {
        max-width: 80%;
    }
    .page-sign .mini-agreement {
        top: 89vh;
    }
}