footer {
    background-color: #455A64;
    height: 103px;
}

footer h6 {
    color: white;
}

footer .copyright {
    font-size: 18px;
}

footer .small {
    color: white;
    font-size: 14px;
}

footer p {
    font-size: 14px;
    color: white;
}

footer i {
    color: white;
    font-size: 23px;
}

footer a {
    text-decoration: none;
    color: white;
    transition: transform 500ms ease-in-out;
}

footer a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer .fa-facebook:hover {
    color: #5890ff;
}

footer .fa-youtube:hover {
    color: #ff0000;
}

footer .footer-sns-link {
	height: 24px;
}

@media (orientation: landscape) and (max-width: 736px) {
    footer small {
        font-size: 14px;
    }
    footer p {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {
	footer {
		height: 140px;
	}
	footer small {
		display: none;
    }
    footer p {
        font-size: 12px;
    }
    footer .copyright {
        font-size: 14px;
    }
    footer .small {
        font-size: 12px;
    }
}