#wrapper-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    transition: top 0.6s ease-in-out;
}
.navbar .navbar-brand img {
    width: 132px;
}

.navbar-light .navbar-toggler {
    border: 0;
}

.navbar .icon-bar {
    height: 2px;
    display: block;
    transition: all 0.2s;
}

.navbar .navbar-toggler {
    border: none;
    background: transparent !important;
    z-index: 999;
}

.home .navbar .navbar-toggler .icon-bar {
    background-color: #ffffff;
    width: 20px;
    margin-top: 4px;
}

.page .navbar .navbar-toggler .icon-bar {
    background-color: #404040;
    width: 20px;
    margin-top: 4px;
}

.navbar .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 0% 100%;
}

.navbar .navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 16% 70%;
}

.navbar .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar .navbar-toggler.collapsed .middle-bar{
    opacity: 1;
}

.navbar .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

button.navbar-toggler:focus, button.navbar-toggler span:focus {
    outline: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.home .navbar {
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}

.home .navbar a {
    color: white;
    font-size: 16px;
}

.home .navbar-nav a:hover {
    color: #f3720c;
}

.home .navbar-brand-service-title {
    color: white;
    font-size: 16px;
}

.page .navbar {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /*padding: .5rem .5rem;*/
}

.page .navbar-nav a {
    color: #303030;
    font-size: 16px;
}

.page .navbar-nav a:hover {
    color: #f3720c;
}

.page .navbar-brand-service-title {
    color: #303030;
    font-size: 16px;
}