.progressbar {
    margin-top: 6px;
    margin-bottom: 60px;
}
.progressbar li {
    font-weight: 14px;
    color: #E3E3E3;
}

.progressbar li span {
    color: #E3E3E3;
    margin-right: 20px;
    margin-left: 20px;
}
.progressbar li:first-child {
    margin-left: 0px;
}

.progressbar li::after {
    margin-left: 30px;
    display: inline-block;
    content: ' ';
    background-image: url('../img/progressbar-arrow.svg');
    background-size: 15px 10px;
    width: 15px;
    height: 10px;
}
.progressbar li:last-child::after {
    background-image: none !important;
    display: none;
}


.progressbar li.current span {
    border: 3px solid #ED6D00;
    border-radius: 30px;
    padding: 3px 2px;
    color: #ED6D00;
    font-weight: bold;
}
.progressbar li.current {
    color: #ED6D00;
}
.progressbar li.current::after {
    background-image: url('../img/progressbar-arrow-current.svg');
}

.progressbar li.done span {
    border: 3px solid #EDA25F;
    border-radius: 30px;
    padding: 3px 2px;
    color: transparent;
    background-image: url('../img/progressbar-arrow-check.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.progressbar li.done {
    color: #EDA25F;
}
.progressbar li.done::after {
    background-image: url('../img/progressbar-arrow-done.svg');
}

@media (max-width: 575.98px) {
    .progressbar {
        margin-bottom: 30px;
    }
    .progressbar li span {
        margin-left: 6px;
        margin-right: 6px;
    }
    .progressbar li:after {
        margin-left: 7px;
    }
    .progressbar .list-inline-item:not(:last-child) {
        margin-right: 0px;
    }
    .progressbar li:not(.current) step {
        display: none;
    }
    .progressbar li:not(.current)::after {
        margin-left: 0px;
    }
    .progressbar li:not(.current) span {
        margin-left: 4px;
        margin-right: 4px;
    }
}

@media (min-width: 575.98px) and (max-width: 991.98px) {
    .progressbar li span {
        margin-left: 10px;
        margin-right: 10px;
    }
    .progressbar li:after {
        margin-left: 10px;
    }
    .progressbar .list-inline-item:not(:last-child) {
        margin-right: 0px;
    }
    .progressbar li:not(.current) step {
       
    }
    .progressbar li:not(.current)::after {
        margin-left: 5px;
    }
    .progressbar li:not(.current) span {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .progressbar li span {
        margin-left: 15px;
        margin-right: 15px;
    }
    .progressbar li:after {
        margin-left: 15px;
    }
    .progressbar .list-inline-item:not(:last-child) {
        margin-right: 5px;
    }
    .progressbar li:not(.current) step {
       
    }
    .progressbar li:not(.current)::after {
        margin-left: 10px;
    }
    .progressbar li:not(.current) span {
        margin-left: 5px;
        margin-right: 5px;
    }
}