		<div style="text-align:center">
			<font style="font-weight:bold;font-size:1.2em">##jspTitle##</font>
		</div>
		<br />
		<div>
			<table class="print">
				<tr>
					<td class="ColorCell" width="13%">列印時間</td>
					<td class="DataCell0" colspan="7">
					##nowDate##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">統編/身分證號</td>
					<td class="DataCell1" colspan="2">
					##CUSIDN##
					</td>
					<td class="ColorCell" width="14%">姓名</td>
					<td class="DataCell1" colspan="4">
					##NAME##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">付款日期</td>
					<td class="DataCell0" colspan="2">
					##PAYDATE##
					</td>
					<td class="ColorCell" width="14%">英文姓名</td>
					<td class="DataCell1" colspan="2">
					##ENNAMEbr##
					</td>
					<td class="ColorCell" rowspan="2" width="9%">收款銀行資料</td>
					<td class="DataCell0" rowspan="2" width="22%">
						SWIFT CODE：
						##FXRCVBKCODE##
						<br>
						名稱/地址： 
						<br>
						##FXRCVBKADDR##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">交易序號</td>
					<td class="DataCell1" colspan="2">STAN</td>
					<td class="ColorCell" width="14%">銀行交易編號</td>
					<td class="DataCell1" colspan="2">REFNO</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">付款帳號</td>
					<td class="DataCell0" colspan="2">##CUSTACC##</td>
					<td class="ColorCell" width="14%">付款金額</td>
					<td class="DataCell0" colspan="2">
						##ORGCCY##
						##str_orgAmt##
					</td>
					<td class="ColorCell" rowspan="4" width="9%">收款人資料</td>
					<td class="DataCell0" rowspan="4" width="22%">
						名稱/地址：<br>
						##FXRCVADDR##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">收款帳號</td>
					<td class="DataCell1" colspan="2">BENACC</td>
					<td class="ColorCell" width="14%">收款金額</td>
					<td class="DataCell1" colspan="2">
						<!-- 幣別 -->
						##PMTCCY##
						<!-- 金額 -->
						##str_pmtAmt##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯率</td>
					<td class="DataCell0" colspan="2">
						##str_Rate##
					</td>
					<td class="ColorCell" width="14%">議價編號</td>
					<td class="DataCell0" colspan="2">##BGROENO##</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">收款人身份別</td>
					<td class="DataCell1" colspan="2">
						##display_BENTYPE##
					</td>
					<td class="ColorCell" width="14%">收款地區國別 </td>
					<td class="DataCell1" colspan="2">
						##COUNTRY##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯款分類項目</td>
					<td class="DataCell0" colspan="5">
						##SRCFUNDDESC##
					</td>
					<td class="ColorCell" rowspan="5" width="9%">E-MAIL 通知</td>
					<td class="DataCell0" rowspan="5" width="22%">
						電子信箱 :
						##CMTRMAIL##
						<br>
						摘要內容: <br>
						##str_MailMemo##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯款分類說明</td>
					<td class="DataCell1" colspan="5">
						##FXRMTDESC##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯款附言</td>
					<td class="DataCell0" colspan="5">
						##str_Memo1##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">費用扣款帳號</td>
					<td class="DataCell1" colspan="2">
					##COMMACC##
					</td>
					<td class="ColorCell" width="14%">手續費負擔別</td>
					<td class="DataCell1" colspan="2">
					##DETCHG##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">手續費</td>
					<td class="DataCell0" width="10%">
						<!-- 幣別 -->
						##COMMCCY##
						<!-- 金額 -->
						##str_commAmt##
					</td>
					<td class="ColorCell" width="8%">郵電費</td>
					<td class="DataCell1" width="14%">
						<!-- 幣別 -->
						##COMMCCY##
						<!-- 金額 -->
						##str_cabAmt##
					</td>
					<td class="ColorCell" width="8%">國外費用</td>
					<td class="DataCell0" width="14%">
						<!-- 幣別 -->
						##COMMCCY##
						<!-- 金額 -->
						##str_ourAmt##
					</td>
				</tr>
			</table>
			<br /><br />
			<div class="text-left">
				<center>
					<strong style="font-weight: 400; text-align:center">請注意:本資料僅供參考，實際交易結果以本行資料為主。</strong>
					<br>
					<!-- 列印 -->
					<input type="button" style="z-index:10000" class="ttb-button btn-flat-orange" id="CMPRINT" name="CMPRINT" value="列印本頁" />
				</center>
			</div>
		</div>