		<div style="text-align:center">
			<font style="font-weight:bold;font-size:1.2em">##jspTitle##</font>
		</div>
		<br />
		<div>
			<table class="print">
				<tr>
					<td class="ColorCell" width="13%">列印時間</td>
					<td class="DataCell0" colspan="7">
					##nowDate##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">統編/身分證號</td>
					<td class="DataCell1" colspan="2">
					##CUSIDN##
					</td>
					<td class="ColorCell" width="14%">姓名</td>
					<td class="DataCell1" colspan="4">
					##NAME##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">解款日期</td>
					<td class="DataCell0" colspan="5">	
						##nowDate##
					</td>
					<td class="ColorCell" rowspan="2" width="9%">國外匯款銀行資料</td>
					<td class="DataCell0" rowspan="2" width="22%">
						SWIFT CODE：##M1SBBIC##<br>
										名稱/地址： <br>                
						##RCVBANK##<br>
						##RCVAD1##<br>
						##RCVAD2##<br>
						##RCVAD3##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">交易序號</td>
					<td class="DataCell1" colspan="2">
					##STAN##
					</td>
					<td class="ColorCell" width="14%">銀行交易編號</td>
					<td class="DataCell1" colspan="2">
					##REFNO##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">解款帳號</td>
					<td class="DataCell0" colspan="2">
					##BENACC##
					</td>
					<td class="ColorCell" width="14%">解款金額<br><font color="red">(未含手續費用)</font></td>
					<td class="DataCell0" colspan="2">
						##PMTCCY##
						##str_PmtAmt##
					</td>
					<td class="ColorCell" rowspan="4" width="9%">匯款人資料</td>
					<td class="DataCell0" rowspan="4" width="22%">				
						名稱/地址：<br>
						##ORDNAME##<br>
						##ORDAD1##<br>
						##ORDAD2##<br>
						##ORDAD3##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">國外匯款帳號</td>
					<td class="DataCell1" colspan="2">
					##ORDACC##
					</td>
					<td class="ColorCell" width="14%">匯款金額</td>
					<td class="DataCell1" colspan="2">
						##ORGCCY##
						##str_OrgAmt##
					</td>			
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯率</td>
					<td class="DataCell0" colspan="2">
						##str_Rate##
					</td>						
					<td class="ColorCell" width="14%">議價編號</td>
					<td class="DataCell0" colspan="2">
					##BGROENO##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯款人身份別</td>
					<td class="DataCell1" colspan="2">
					##display_BENTYPE##
					</td>
					<td class="ColorCell" width="14%">匯款地區國別	</td>
					<td class="DataCell1" colspan="2">
					##CNTRY##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯款分類項目</td>
					<td class="DataCell0" colspan="5">
					##SRCFUNDDESC##
					</td>
					<td class="ColorCell" rowspan="5" width="9%"></td>
					<td class="DataCell0" rowspan="5" width="22%"></td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯款分類說明</td>
					<td class="DataCell1" colspan="5">
					##FXRMTDESC##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">匯款附言</td>
					<td class="DataCell0" colspan="5">
						##str_ORDMEMO1##						
					</td>			
				</tr>
				<tr>
					<td class="ColorCell" width="11%">費用扣款帳號</td>
					<td class="DataCell1" colspan="2">
					##BENACC##
					</td>
					<td class="ColorCell" width="14%">手續費負擔別</td>
					<td class="DataCell1" colspan="2">
					##DETCHG##
					</td>
				</tr>
				<tr>
					<td class="ColorCell" width="11%">手續費</td>
					<td class="DataCell0" width="10%" colspan="5">
					##COMMCCY2##
					##str_CommAmt##
					</td>
				</tr>
			</table>
			<br /><br />
			<div class="text-left">
				<center>
					<strong style="font-weight: 400; text-align:center">請注意:本資料僅供參考，實際交易結果以本行資料為主。</strong>
					<br>
					<!-- 列印 -->
					<input type="button" style="z-index:10000" class="ttb-button btn-flat-orange" id="CMPRINT" name="CMPRINT" value="列印本頁" />
				</center>
			</div>
		</div>