
<div>
	<font style="font-weight: bold; font-size: 1.2em">##jspTitle##</font>
</div>
<br />

<div>
	
		
			<p>查詢時間： ##CMQTIME##</p>
		
		
			<p>
				<!-- 資料總數  -->
				資料總數：##TOTCNT## 筆
			</p>
		
	<table class="table">
		<thead>
			<tr>
				<th>姓名</th>
				<th>每月結帳日</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: center">##CUSNAME##</td>
				<td style="text-align: center">##CYCLE##</td>
			</tr>
		</tbody>
	</table>
	<br><br>
	<div>
	##TABLECONTENT##
	</div>
	</div>