#keyboardBlock {
	position: fixed;
    top: 176.690;
	left: 0;
	right: 0;
	margin: 0 440px 0 auto;
	width: fit-content;
	background-color: #cfd8dc;
	padding: 10px;
	border-radius: 10px;
	z-index: 99;
}
@media screen and (min-width: 1440px) {
    #keyboardBlock {
    margin: 0 440px 0 auto;
    } 
}

#keyboardBlock p:first-child {
	margin: 0 auto 10px;
	font-size: 16px;
	color: #404040;
	font-weight: 500;
	text-decoration: none solid rgb(64, 64, 64);
	text-align: center;
}

#keyboardBlock p:first-child img {
	float: right;
}

.keyboard {
	display: inline-block;
	border-radius: 10px;
	background-color: #ecf0f1;
	background-size: cover;
	vertical-align: top;
}

.letterKeyboard {
	width: 400px;
}

.numberKeyboard {
	width: 150px;
}

.keyboardButtons {
	padding: 0;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.keyboard .keyboardButtons>li {
	display: inline-flex;
	width: 36px;
	height: 36px;
	margin: 5px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 700;
	color: #f3720c;
	background-color: #fcfff5;
	background-size: cover;
	text-decoration: none solid rgb(243, 114, 12);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	border: 1px solid #ffffff;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.keyboard .keyboardButtons>li:hover {
	border: 1px solid #FF8000;
}

.keyboard.numberKeyboard .keyboardButtons>li:last-child {
	width: 134px;
}

.keyboard .keyboardButtons .btnDelete {}

.keyboard .keyboardButtons .btnCapslock {}

.keyboard .keyboardButtons .btnReset {}

.keyboard .keyboardButtons .btnConfirm {
	width: 132px;
}

.keyboardInput {
	width: 360px;
	padding: 20px 15px 0 15px;
}

.keyboardInput input {
	border: 1px solid #999;
	font-size: 20px;
}

.keyboardButtons li::before {}