@charset "UTF-8";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* html, */
/* button, */
/* input, */
/* select, */
/* textarea { */
/*   color: #666; */
/* } */

body {
  width: 100%;
  font-family: "微軟正黑體", "Microsoft JhengHei", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*---------- icon ----------*/
.icon {
  /*display: inline-block;*/
}
.icon:before, .icon:after {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.icon:before {
  content: "";
}
.icon > span {
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
}
.icon.icon--a:before {
  content: none;
}
.icon.icon--a:after {
  content: "";
}
.icon.icon--a > span {
  margin-left: 0;
  margin-right: 3px;
}

/*---------- icon - bulletin ----------*/
.i-bulletin__speaker:before, .i-bulletin__prev:before, .i-bulletin__next:before, .i-bulletin__speaker:after, .i-bulletin__prev:after, .i-bulletin__next:after {
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-bulletin.png);
}

.i-bulletin__speaker:before, .i-bulletin__speaker:after {
  background-position: 0 0;
}

.i-bulletin__prev:before, .i-bulletin__prev:after {
  background-position: 0 -30px;
}

.i-bulletin__next:before, .i-bulletin__next:after {
  background-position: 0 -60px;
}

/*---------- icon - form ----------*/
.i-form__id:before, .i-form__lock:before, .i-form__key:before, .i-form__delete:before, .i-form__edit:before, .i-form__view:before, .i-form__nt:before, .i-form__transfer:before, .i-form__repay:before, .i-form__bar:before, .i-form__line:before, .i-form__id:after, .i-form__lock:after, .i-form__key:after, .i-form__delete:after, .i-form__edit:after, .i-form__view:after, .i-form__nt:after, .i-form__transfer:after, .i-form__repay:after, .i-form__bar:after, .i-form__line:after {
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-form.png);
}

.i-form__id:before, .i-form__id:after {
  background-position: 0 0;
}

.i-form__lock:before, .i-form__lock:after {
  background-position: 0 -25px;
}

.i-form__key:before, .i-form__key:after {
  background-position: 0 -50px;
}

.i-form__delete:before, .i-form__delete:after {
  background-position: 0 -75px;
}

.i-form__edit:before, .i-form__edit:after {
  background-position: 0 -100px;
}

.i-form__view:before, .i-form__view:after {
  background-position: 0 -125px;
}

.i-form__nt:before, .i-form__nt:after {
  background-position: 0 -150px;
}

.i-form__transfer:before, .i-form__transfer:after {
  background-position: 0 -175px;
}

.i-form__repay:before, .i-form__repay:after {
  background-position: 0 -200px;
}

.i-form__bar:before, .i-form__bar:after {
  background-position: 0 -225px;
}

.i-form__line:before, .i-form__line:after {
  background-position: 0 -250px;
}

/*---------- icon - my ----------*/
.i-my__nt:before, .i-my__import:before, .i-my__loan:before, .i-my__card:before, .i-my__fund:before, .i-my__gold:before, .i-my__other:before, .i-my__bill:before, .i-my__bond:before, .i-my__nt:after, .i-my__import:after, .i-my__loan:after, .i-my__card:after, .i-my__fund:after, .i-my__gold:after, .i-my__other:after, .i-my__bill:after, .i-my__bond:after {
  width: 62px;
  height: 62px;
  background-image: url(../images/icon-my-menu.png);
}

.i-my__nt:before, .i-my__nt:after {
  background-position: 0 0;
}

.i-my__import:before, .i-my__import:after {
  background-position: 0 -62px;
}

.i-my__loan:before, .i-my__loan:after {
  background-position: 0 -124px;
}

.i-my__card:before, .i-my__card:after {
  background-position: 0 -186px;
}

.i-my__fund:before, .i-my__fund:after {
  background-position: 0 -248px;
}

.i-my__gold:before, .i-my__gold:after {
  background-position: 0 -310px;
}

.i-my__other:before, .i-my__other:after {
  background-position: 0 -372px;
}

.i-my__bill:before, .i-my__bill:after {
  background-position: 0 -434px;
}

.i-my__bond:before, .i-my__bond:after {
  background-position: 0 -496px;
}

/*---------- icon - sitemap ----------*/
.i-smap__desk:before, .i-smap__nt:before, .i-smap__import:before, .i-smap__loan:before, .i-smap__card:before, .i-smap__fund:before, .i-smap__gold:before, .i-smap__other:before, .i-smap__desk:after, .i-smap__nt:after, .i-smap__import:after, .i-smap__loan:after, .i-smap__card:after, .i-smap__fund:after, .i-smap__gold:after, .i-smap__other:after {
  width: 40px;
  height: 40px;
  background-image: url(../images/icon-sitemap.png);
}

.i-smap__desk:before, .i-smap__desk:after {
  background-position: 0 0;
}
.i-smap__nt:before, .i-smap__nt:after {
  background-position: 0 -40px;
}
.i-smap__import:before, .i-smap__import:after {
  background-position: 0 -80px;
}
.i-smap__loan:before, .i-smap__loan:after {
  background-position: 0 -120px;
}
.i-smap__card:before, .i-smap__card:after {
  background-position: 0 -160px;
}
.i-smap__fund:before, .i-smap__fund:after {
  background-position: 0 -200px;
}
.i-smap__gold:before, .i-smap__gold:after {
  background-position: 0 -240px;
}
.i-smap__other:before, .i-smap__other:after {
  background-position: 0 -280px;
}

/*---------- icon - news ----------*/
.i-news__prev:before, .i-news__next:before, .i-news__prev:after, .i-news__next:after {
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-news.png);
}

.i-news__prev:before, .i-news__prev:after {
  background-position: 0 0;
}

.i-news__next:before, .i-news__next:after {
  background-position: 0 -15px;
}

/*---------- icon - link ----------*/
.i-link__apply:before, .i-link__tip:before, .i-link__tip--gn:before, .i-link__tip--gnd:before, .i-link__apply:after, .i-link__tip:after, .i-link__tip--gn:after, .i-link__tip--gnd:after {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-link.png);
}

.i-link__apply:before, .i-link__apply:after {
  background-position: 0 0;
}

.i-link__tip:before, .i-link__tip:after {
  background-position: 0 -16px;
}

.i-link__tip--gn:before, .i-link__tip--gn:after {
  background-position: 0 -32px;
}

.i-link__tip--gnd:before, .i-link__tip--gnd:after {
  background-position: 0 -48px;
}

/*---------- icon - useful ----------*/
.i-useful__try:before, .i-useful__faq:before, .i-useful__reg:before, .i-useful__env:before, .i-useful__trend:before, .i-useful__contact:before, .i-useful__try:after, .i-useful__faq:after, .i-useful__reg:after, .i-useful__env:after, .i-useful__trend:after, .i-useful__contact:after {
  width: 60px;
  height: 60px;
  background-image: url(../images/icon-useful.png);
}

.i-useful__try:before, .i-useful__try:after {
  background-position: 0 0;
}

.i-useful__faq:before, .i-useful__faq:after {
  background-position: 0 -60px;
}

.i-useful__reg:before, .i-useful__reg:after {
  background-position: 0 -120px;
}

.i-useful__env:before, .i-useful__env:after {
  background-position: 0 -180px;
}

.i-useful__trend:before, .i-useful__trend:after {
  background-position: 0 -240px;
}

.i-useful__contact:before, .i-useful__contact:after {
  background-position: 0 -300px;
}

/*---------- icon - keyboard ----------*/
.i-keybod:before, .i-keybod:after {
  width: 21px;
  height: 13px;
  background-image: url(../images/icon-keyboard.png);
  background-position: 0 0;
}

.i-keyboard__close:before, .i-keyboard__caps:before, .i-keyboard__del:before, .i-keyboard__close:after, .i-keyboard__caps:after, .i-keyboard__del:after {
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-screen-keyboard.png);
}

.i-keyboard__close:before, .i-keyboard__close:after {
  background-position: 0 0;
}

.i-keyboard__caps:before, .i-keyboard__caps:after {
  background-position: 0 -25px;
}

.i-keyboard__del:before, .i-keyboard__del:after {
  background-position: 0 -50px;
}

/*---------- icon - result ----------*/
.i-result__ok:before, .i-result__fail:before, .i-result__ok:after, .i-result__fail:after {
  width: 40px;
  height: 40px;
  background-image: url(../images/icon-result.png);
}

.i-result__ok:before, .i-result__ok:after {
  background-position: 0 0;
}

.i-result__fail:before, .i-result__fail:after {
  background-position: 0 -40px;
}

/*---------- icon - view type ----------*/
.i-view__grid:before, .i-view__list:before, .i-view__chart:before, .i-view__grid:after, .i-view__list:after, .i-view__chart:after {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-view.png);
}

.i-view__grid:before, .i-view__grid:after {
  background-position: 0 0;
}
.i-view__grid.active:before, .i-view__grid.active:after {
  background-position: -20px 0;
}
.i-view__list:before, .i-view__list:after {
  background-position: 0 -20px;
}
.i-view__list.active:before, .i-view__list.active:after {
  background-position: -20px -20px;
}
.i-view__chart:before, .i-view__chart:after {
  background-position: 0 -40px;
}
.i-view__chart.active:before, .i-view__chart.active:after {
  background-position: -20px -40px;
}

/*---------- icon - button ----------*/
.i-btn__favorite:before, .i-btn__search:before, .i-btn__calendar:before, .i-btn__refresh:before, .i-btn__keyboard:before, .i-btn__favorite:after, .i-btn__search:after, .i-btn__calendar:after, .i-btn__refresh:after, .i-btn__keyboard:after {
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-button.png);
}

.i-btn__favorite:before, .i-btn__favorite:after {
  background-position: 0 0;
}

.i-btn__search:before, .i-btn__search:after {
  background-position: 0 -30px;
}

.i-btn__calendar:before, .i-btn__calendar:after {
  background-position: 0 -60px;
}

.i-btn__refresh:before, .i-btn__refresh:after {
  background-position: 0 -90px;
}

.i-btn__keyboard:before, .i-btn__keyboard:after {
  background-position: 0 -120px;
}

/*---------- icon - 20px ----------*/
.i-20__close:before, .i-20__add:before, .i-20__pen:before, .i-20__time:before, .i-20__close:after, .i-20__add:after, .i-20__pen:after, .i-20__time:after {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-20px.png);
}

.i-20__close:before, .i-20__close:after {
  background-position: 0 0;
}

.i-20__add:before, .i-20__add:after {
  background-position: 0 -20px;
}

.i-20__pen:before, .i-20__pen:after {
  background-position: 0 -40px;
}

.i-20__time:before, .i-20__time:after {
  background-position: 0 -60px;
}

/*---------- icon - operate ----------*/
.i-op__01:before, .i-op__02:before, .i-op__03:before, .i-op__04-01:before, .i-op__04-02:before, .i-op__05-01:before, .i-op__05-02:before, .i-op__05-03:before, .i-op__06-01:before, .i-op__06-02:before, .i-op__07-01:before, .i-op__07-02:before, .i-op__07-03:before, .i-op__07-04:before, .i-op__01:after, .i-op__02:after, .i-op__03:after, .i-op__04-01:after, .i-op__04-02:after, .i-op__05-01:after, .i-op__05-02:after, .i-op__05-03:after, .i-op__06-01:after, .i-op__06-02:after, .i-op__07-01:after, .i-op__07-02:after, .i-op__07-03:after, .i-op__07-04:after {
  width: 50px;
  height: 50px;
  background-image: url(../images/icon-operate.png);
}

.i-op__01:before, .i-op__01:after {
  background-position: 0 0;
}

.i-op__02:before, .i-op__02:after {
  background-position: 0 -50px;
}

.i-op__03:before, .i-op__03:after {
  background-position: 0 -100px;
}

.i-op__04-01:before, .i-op__04-01:after {
  background-position: 0 -150px;
}

.i-op__04-02:before, .i-op__04-02:after {
  background-position: 0 -200px;
}

.i-op__05-01:before, .i-op__05-01:after {
  background-position: 0 -250px;
}

.i-op__05-02:before, .i-op__05-02:after {
  background-position: 0 -300px;
}

.i-op__05-03:before, .i-op__05-03:after {
  background-position: 0 -350px;
}

.i-op__06-01:before, .i-op__06-01:after {
  background-position: 0 -400px;
}

.i-op__06-02:before, .i-op__06-02:after {
  background-position: 0 -450px;
}

.i-op__07-01:before, .i-op__07-01:after {
  background-position: 0 -500px;
}

.i-op__07-02:before, .i-op__07-02:after {
  background-position: 0 -550px;
}

.i-op__07-03:before, .i-op__07-03:after {
  background-position: 0 -600px;
}

.i-op__07-04:before, .i-op__07-04:after {
  background-position: 0 -650px;
}

/*---------- icon - other ----------*/
/*---------- button ----------*/
.btn {
  display: block;
  padding: 10px 10px 11px;
  font-size: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}
.btn.btn--s {
  padding: 4px 10px 5px;
  font-size: 14px;
}

.btn--gy {
  color: #fff;
  background-color: #999;
}
.btn--gy:hover {
  background-color: #747474;
}

.btn--gn-dk {
  color: #fff;
  background-color: #005248;
}
.btn--gn-dk:hover {
  background-color: #00463d;
}

.btn--gdn {
  color: #fff;
  background-color: #c6af5c;
}
.btn--gdn:hover {
  background-color: #a8954e;
}

/*---------- button - color ----------*/
/*---------- widget ----------*/
.tab {
  padding-top: 5px;
}
.tab .tab__nav {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #149a88;
  background-color: #e7eeef;
}
.tab .tab__nav > li {
  list-style-type: none;
  float: left;
  margin-top: -5px;
  position: relative;
  border-top: 5px solid transparent;
  vertical-align: bottom;
}
.tab .tab__nav > li.active {
  background-color: #149a88;
}
.tab .tab__nav > li.active .tab__nav-a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #149a88;
}
.tab .tab__nav-a {
  display: inline-block;
  padding: 13px 30px;
  font-size: 16px;
  text-decoration: none;
  color: #525252;
  background-color: #e7eeef;
}
.tab .tab__panel {
  display: none;
}
.tab .tab__panel.active {
  display: block;
}
.tab.tab--gn {
  padding-top: 0;
}
.tab.tab--gn .tab__nav {
  border-bottom: 0;
  background-color: transparent;
}
.tab.tab--gn .tab__nav > li {
  margin-top: 0;
}
.tab.tab--gn .tab__nav > li:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  position: absolute;
  left: -1px;
  bottom: 13px;
  background-color: #fff;
}
.tab.tab--gn .tab__nav > li.active {
  margin: 0 1px;
  background-color: #e7eeef;
}
.tab.tab--gn .tab__nav > li.active .tab__nav-a {
  padding: 11px 13px 12px;
  color: #149a88;
  background-color: #e7eeef;
}
.tab.tab--gn .tab__nav > li:first-of-type {
  margin-left: 0;
}
.tab.tab--gn .tab__nav > li:first-of-type:before {
  content: none;
}
.tab.tab--gn .tab__nav-a {
  padding: 13px;
  font-size: 14px;
  color: #fff;
  background-color: #149a88;
}
.tab.tab--gn .tab__panel {
  padding: 20px;
  background-color: #e7eeef;
}
.tab.tab--horizon .tab__nav {
  float: left;
  width: 150px;
}
.tab.tab--horizon .tab__nav > li {
  float: none;
  border-top-width: 0;
  margin: 5px 0 0;
}
.tab.tab--horizon .tab__nav > li:before {
  content: none;
}
.tab.tab--horizon .tab__nav > li.active {
  margin: 5px 0;
}
.tab.tab--horizon .tab__nav > li.active .tab__panel {
  display: block;
}
.tab.tab--horizon .tab__nav > li.active .tab__nav-a {
  padding: 19px 13px;
  font-size: 17px;
}
.tab.tab--horizon .tab__nav > li:first-of-type {
  margin-top: 0;
}
.tab.tab--horizon .tab__panel {
  margin-left: 150px;
  padding: 25px;
}
.tab.tab--horizon .tab__nav-a {
  display: block;
  padding: 19px 13px;
  font-size: 15px;
  text-align: center;
}

.collapse .collapse__item {
  margin-top: -1px;
  border: 1px solid #dedede;
  background-color: #f6f6f6;
}
.collapse .collapse__item.active .collapse__tab:after {
  background-position: -12px 0;
}
.collapse .collapse__item.active .collapse__panel {
  max-height: 1000px;
  padding-bottom: 20px;
}
.collapse .collapse__item:first-of-type {
  margin-top: 0;
}
.collapse .collapse__tab {
  display: block;
  padding: 13px 20px;
  position: relative;
  color: #666;
  text-decoration: none;
}
.collapse .collapse__tab:after {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -6px;
  background: url(../images/icon-arrow_12px.png) no-repeat -12px -12px;
}
.collapse a.collapse__tab:after {
  content: "";
}
.collapse .collapse__panel {
  max-height: 0;
  padding: 0 20px;
  -moz-transition: max-height ease 0.3s, padding ease 0.3s;
  -o-transition: max-height ease 0.3s, padding ease 0.3s;
  -webkit-transition: max-height ease 0.3s, padding ease 0.3s;
  transition: max-height ease 0.3s, padding ease 0.3s;
  overflow: hidden;
}
.collapse .collapse__panel.collapse__panel--wt {
  background-color: #fff;
}
.collapse.collapse--noboard .collapse__item {
  border: 0;
  border-top: 1px solid #dedede;
}
.collapse.collapse--noboard .collapse__item:first-of-type {
  border-top: 0;
}
.collapse.collapse--noboard .collapse__tab {
  padding: 13px 0;
}
.collapse.collapse--noboard .collapse__tab:after {
  right: 0;
}
.collapse.collapse--noboard .collapse__panel {
  padding: 0;
}
.collapse.collapse--wt .collapse__item {
  background-color: #fff;
  -moz-transition: background-color ease 0.3s;
  -o-transition: background-color ease 0.3s;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
}
.collapse.collapse--wt .collapse__item.active {
  background-color: #f6f6f6;
}

.fancybox-close {
  width: 50px;
  height: 50px;
  right: -30px;
  top: -30px;
  background: #005248;
}
.fancybox-close:before {
  content: "";
  display: inline-block;
  margin: 15px;
  width: 20px;
  height: 20px;
  background: url(../images/icon-20px.png) no-repeat 0 0;
  vertical-align: middle;
}

/*---------- index ----------*/
.bulletin {
  padding: 11px 0;
  /*background-color: rgba(246, 214, 191, 0.8);*/
  background: url(../images/bg-bulletin.png) repeat;
}
.bulletin .bulletin__wrap {
  display: table;
}
.bulletin .bulletin__title,
.bulletin .bulletin__content,
.bulletin .bulletin__nav {
  display: table-cell;
  vertical-align: middle;
}
.bulletin .bulletin__title {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.bulletin .bulletin__items {
  margin: 0;
  padding: 0;
}
.bulletin .bulletin__items > li {
  list-style-type: none;
}
.bulletin .bulletin__items-a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}
.bulletin .bulletin__items-a:hover {
  color: #149a88;
  text-decoration: none;
}
.bulletin .bulletin__nav {
  width: 80px;
  text-align: center;
}
.bulletin .bulletin__nav-a {
  margin-left: 5px;
}
.bulletin .bulletin__nav-a:first-of-type {
  margin-left: 0;
}
.bulletin ~ .helper {
  top: 200px;
}

.idx-kv {
  height: 520px;
  background-color: #f6f6f6;
}
.idx-kv .bxslider {
  margin: 0;
  padding: 0;
  display: table;
}
.idx-kv .bxslider > li {
  display: table-cell;
  list-style-type: none;
  position: relative;
  height: 520px;
  vertical-align: middle;
  overflow: hidden;
}
.idx-kv .bxslider .bxslider__item {
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.idx-kv .bxslider .bxslider__item img {
  display: none;
  min-width: 100%;
  min-height: 100%;
}
.idx-kv.idx-kv--bg {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.idx-login .idx-login__wrap {
  position: relative;
}
.idx-login .idx-login__main {
  width: 330px;
  position: absolute;
  right: 0;
  top: -408px;
}
.idx-login .idx-login__main--c {
  width: 620px;
  right: 50%;
  margin-right: -310px;
}

.card-reader {
  min-height: 171px;
}

.card-reader--empty {
  background: url(../images/img-card-reader.jpg) no-repeat center center;
  background-size: cover;
}

.idx-cnt {
  margin-bottom: 12px;
  text-align: center;
}
.idx-cnt .idx-cnt__news {
  float: left;
  width: 39.5%;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.idx-cnt .idx-cnt__links {
  float: right;
  width: 60.5%;
  padding-left: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.idx-cnt .idx-cnt__title {
  position: relative;
  display: inline-block;
  margin: 25px auto;
  font-size: 20px;
  font-weight: bold;
  color: #525252;
  text-align: center;
}
.idx-cnt .idx-cnt__title:after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 0;
}
.idx-cnt .idx-cnt__title.idx-cnt__title--og:after {
  background-color: #f59d15;
}
.idx-cnt .idx-cnt__title.idx-cnt__title--gn:after {
  background-color: #149a88;
}

.news {
  border: 1px solid #dedede;
  height: 299px;
  padding: 0 15px;
  text-align: left;
}
.news__list {
  margin: -1px 0 0;
  padding: 0;
}
.news__list > li {
  list-style-type: none;
  padding: 15px 0;
  height: 100px;
  border-top: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.news__list > li:first-of-type .news__date {
  color: #f59d15;
}
.news__date {
  float: left;
  width: 70px;
  height: 70px;
  padding: 12px 0;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.news__date-m {
  display: block;
  font-size: 10px;
}
.news__date-d {
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.news__content {
  display: -webkit-box;
  margin-left: 90px;
  padding-left: 15px;
  height: 65px;
  border-left: 1px dashed #dedede;
  font-size: 14px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.news__content-a {
  color: #666;
  text-decoration: none;
}
.news__content-a:hover {
  color: #149a88;
  text-decoration: none;
}
.news--fixed {
  height: auto;
}
.news--fixed .news__list > li {
  display: table;
  width: 100%;
  height: auto;
}
.news--fixed .news__list > li:first-of-type .news__date {
  color: #666;
}
.news--fixed .news__cal {
  display: table-cell;
  padding-right: 20px;
}
.news--fixed .news__content {
  display: table-cell;
  width: 100%;
  height: auto;
  min-height: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.news--fixed div.news__content-a:hover {
  color: #666;
}

.news-nav {
  position: relative;
  margin-top: -2px;
}
.news-nav .news-nav__prev,
.news-nav .news-nav__next {
  float: left;
  display: inline-block;
  width: 50%;
  border: 1px solid #dedede;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.news-nav .news-nav__prev.disable,
.news-nav .news-nav__next.disable {
  background-color: #f5f5f5;
}
.news-nav .news-nav__prev.disable .bx-prev,
.news-nav .news-nav__next.disable .bx-prev {
  cursor: default;
}
.news-nav .news-nav__prev.disable .bx-prev > i,
.news-nav .news-nav__next.disable .bx-prev > i {
  background-position: -15px 0;
}
.news-nav .news-nav__prev.disable .bx-next,
.news-nav .news-nav__next.disable .bx-next {
  cursor: default;
}
.news-nav .news-nav__prev.disable .bx-next > i,
.news-nav .news-nav__next.disable .bx-next > i {
  background-position: -15px -15px;
}
.news-nav .bx-prev,
.news-nav .bx-next {
  display: block;
  padding: 3px 10px;
  text-align: center;
}
.news-nav .bx-prev > i,
.news-nav .bx-next > i {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/icon-news.png) no-repeat 0 0;
  vertical-align: middle;
}
.news-nav .bx-prev > i {
  background-position: 0 0;
}
.news-nav .bx-next > i {
  background-position: 0 -15px;
}

.useful {
  padding: 40px;
  height: 330px;
  text-align: left;
  background: url(../images/bg-useful.png) no-repeat center center;
  background-size: cover;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.useful .useful__list {
  margin: 0;
  padding: 0;
  background: url(../images/bg-useful-list.png) no-repeat center center;
  background-size: cover;
}
.useful .useful__list > li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  padding: 13px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.useful .useful__item {
  display: block;
  font-size: 16px;
  color: #666;
  text-decoration: none;
}
.useful .useful__item:hover {
  color: #149a88;
  text-decoration: none;
}
.useful .useful__item:before {
  display: block;
  margin: 10px auto;
}

/*---------- 帳戶總覽 ----------*/
.my {
  /*padding: 15px;*/
}

.my__info,
.my__chart {
  float: left;
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.my__info + .my__content,
.my__chart + .my__content {
  float: right;
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.my__info {
  width: 415px;
}
.my__info + .my__content {
  width: 555px;
}

.my__chart {
  width: 295px;
}
.my__chart + .my__content {
  width: 705px;
}

.my--info .collapse__tab {
  font-size: 16px;
  color: #149a88;
}

.my--overview .tab__panel {
  margin: 30px 0;
}
.my--overview .collapse__item.active .collapse__panel {
  padding: 0;
}
.my--overview .collapse__tab {
  font-size: 16px;
}
.my--overview .collapse__panel {
  padding: 0;
}

.my-info__title {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: #525252;
  text-align: center;
}

.my-info__wrap {
  margin-bottom: 30px;
  padding: 0 15px;
  background-color: #f6f6f6;
}
.my-info__wrap:last-of-type {
  margin-bottom: 0;
}

.my-notify {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.my-notify > li {
  padding: 15px 0;
  border-top: 1px solid #dedede;
}
.my-notify > li:first-of-type {
  border-top: 0;
}

.my-notify__title {
  margin-bottom: 5px;
  font-size: 16px;
  color: #f59d15;
}

.calendar .calendar__date {
  padding: 15px 25px 0;
  font-size: 16px;
}
.calendar .calendar__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.calendar .calendar__list > li {
  padding: 5px 20px;
  border-bottom: 1px solid #dedede;
}
.calendar .calendar__title {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
.calendar .calendar__action {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.chart {
  text-align: center;
}
.chart .chart__tip {
  margin-top: 5px;
  text-align: center;
}
.chart .chart__pie {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.account {
  display: block;
}
.account .account__title {
  display: inline-block;
  width: 260px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.account .account__name {
  display: inline-block;
  min-width: 100px;
  vertical-align: middle;
}
.account .account__amount {
  display: inline-block;
  width: 140px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: right;
}
.account .account__color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  vertical-align: middle;
}
.account .account__unit {
  display: inline-block;
  min-width: 70px;
  vertical-align: middle;
  text-align: left;
}
.account .account__action {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.account .acount__link {
  margin-left: 10px;
}
.account.account--total {
  font-weight: bold;
}
.account.account--indent .account__title {
  padding-left: 65px;
}

.account-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.account-list > li {
  padding: 13px 20px;
  border-top: 1px dashed #dedede;
  font-size: 15px;
}

.overview {
  margin: 0 30px;
}
.overview .overview__links {
  padding: 10px 0;
  text-align: right;
}
.overview .overview__link {
  font-size: 15px;
  font-weight: bold;
  color: #666;
}
.overview .overview__link:hover {
  color: #149a88;
}
.overview .overview__link.active {
  font-size: 18px;
  color: #149a88;
  text-decoration: none;
}
.overview .overview__link ~ .overview__link {
  margin-left: 15px;
}

/*---------- other ----------*/
.cash-box {
  padding: 0;
  list-style-type: none;
}
.cash-box > li {
  position: relative;
  float: left;
  width: 16.66%;
  margin: 0 0 15px;
}
.cash-box .cash-box__item {
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  padding: 20px 5px;
  font-size: 14px;
  line-height: 1.2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  text-decoration: none;
  background: url(../images/bg-cashbox.png) repeat;
  text-align: center;
}
.cash-box .cash-box__item:before {
  content: "";
  display: block;
  margin: 0 auto 15px;
  width: 32px;
  height: 32px;
  background: url(../images/icon-cashbox.png) no-repeat 0 0;
}
.cash-box .cash-box__item:hover {
  color: #149a88;
}
.cash-box .cash-box__item--f {
  border-bottom: 2px solid #f28c13;
}
.cash-box .cash-box__item--f:before {
  background-position: 0 -32px;
}
.cash-box .cash-box__item--t {
  border-bottom: 2px solid #00d3b4;
}
.cash-box .cash-box__item--t:before {
  background-position: 0 0;
}
.cash-box .cash-box__item--b {
  border-bottom: 2px solid #7db7ff;
}
.cash-box .cash-box__item--b:before {
  background-position: 0 -64px;
}
.cash-box .cash-box__item--p {
  border-bottom: 2px solid #345684;
}
.cash-box .cash-box__item--p:before {
  background-position: 0 -96px;
}
.cash-box .cash-box__item--g {
  border-bottom: 2px solid #c6af5c;
}
.cash-box .cash-box__item--g:before {
  background-position: 0 -128px;
}
.cash-box .cash-box__big {
  font-size: 20px;
}
.cash-box .cash-box__wrap,
.cash-box .cash-box__link--add,
.cash-box .cash-box__link--edit {
  position: relative;
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  padding: 17px 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/bg-cashbox.png) repeat;
  color: #666;
  text-decoration: none;
}
.cash-box .cash-box__link {
  display: block;
  text-align: center;
  color: #666;
  text-decoration: none;
}
.cash-box .cash-box__link:before {
  display: block;
  margin: 0 auto 15px;
}
.cash-box .cash-box__link:hover {
  color: #149a88;
}
.cash-box .cash-box__link--add {
  padding: 40px 5px;
  border: 1px dashed #666;
  background: #fff;
}
.cash-box .cash-box__link--add:before {
  margin-bottom: 5px;
}
.cash-box .cash-box__link--edit {
  padding: 40px 5px;
  background: #c6af5c;
  color: #fff;
}
.cash-box .cash-box__link--edit:hover {
  background-color: #a8954e;
  color: #fff;
}
.cash-box .cash-box__link--edit:before {
  margin-bottom: 5px;
}
.cash-box .cash-box__del {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #005248;
}
.cash-box .cash-box__del:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  background: url(../images/icon-20px.png) no-repeat 0 0;
  vertical-align: middle;
}
.cash-box .cash-box__check {
  display: none;
}
.cash-box.cash-box--edit .cash-box__add,
.cash-box.cash-box--edit .cash-box__edit {
  display: none;
}
.cash-box.cash-box--edit .cash-box__del {
  display: inline-block;
}
.cash-box.cash-box--edit .cash-box__wrap {
  border: 1px solid #dedede;
}

.tb {
  width: 100%;
  border: 1px solid #dedede;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tb th,
.tb td {
  padding: 12px 10px;
  min-height: 46px;
  border: 1px solid #dedede;
  text-align: left;
}
.tb thead th {
  border-bottom: 2px solid #dedede;
  background-color: #e5f5f3;
}
.tb tbody tr:nth-of-type(even) {
  background-color: #f6f6f6;
}
.tb tfoot tr {
  background-color: #fffee8;
}
.tb .tb__action {
  margin-right: 5px;
  font-weight: bold;
  color: #19b2b6;
  white-space: nowrap;
}
.tb .tb__action:last-child {
  margin-right: 0;
}
.tb .tb__action--arrow:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/icon-arrow_10px.png) no-repeat -10px -30px;
  vertical-align: middle;
}
.tb .tr--sum {
  background-color: #fffee8;
}
.tb .tr--sum th {
  font-size: 18px;
}
.tb .td--currency {
  text-align: right;
}
.tb .td--total {
  font-size: 18px;
  font-weight: bold;
}
.tb.tb--wt {
  background-color: #fff;
}
.tb.tb--view tbody tr {
  background-color: transparent;
}
.tb.tb--view tbody td:first-of-type {
  background-color: #f6f6f6;
  font-weight: bold;
  text-align: right;
}
.tb.tb--summary th,
.tb.tb--summary td {
  padding: 12px 0;
  border-left: 0;
  border-right: 0;
}
.tb.tb--summary th {
  text-align: right;
}
.tb.tb--summary td {
  padding-right: 10px;
}
.tb.tb--summary tr:nth-of-type(even) {
  background-color: transparent;
}
.tb + .tb {
  margin-top: -1px;
}

.tb-tip {
  margin: 5px 0;
  color: #999;
}

.notes {
  border-top: 1px dashed #e58d38;
  padding: 20px 10px;
  margin-top: 25px;
}
.notes .notes__title {
  font-weight: bold;
  color: #f59d15;
}
.notes .notes__title:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/icon-notes.png) no-repeat;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.notes .notes__list {
  padding: 0 0 0 15px;
  margin: 0;
}
.notes .notes__list li {
  margin: 10px 0;
}
.notes .notes__list ol {
  padding: 0 0 0 23px;
  margin: 0;
  counter-reset: my-badass-counter;
  list-style-type: none;
}
.notes .notes__list ol > li {
  position: relative;
}
.notes .notes__list ol > li:before {
  content: "(" counter(my-badass-counter) ")";
  counter-increment: my-badass-counter;
  position: absolute;
  left: -23px;
}
.notes .notes__ul {
  list-style-type: disc;
}
.notes.notes--helper {
  margin: 0 20px;
  padding-top: 20px;
  border-color: #d2d2d2;
}
.notes.notes--helper .notes__title {
  color: #525252;
}
.notes.notes--helper .notes__title:before {
  background-position: 0 -20px;
}
.notes.notes--noboard {
  border-top: 0;
}

.notes-half__item {
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.notes-half__item:nth-of-type(2n+1) {
  clear: left;
}

.agreement {
  padding: 20px;
  border: 1px solid #dedede;
}
.agreement__main {
  /*max-height: 400px;*/
  line-height: 28px;
  overflow: auto;
}
.agreement__agree {
  margin-top: 20px;
}
.agreement__agree .trans-element-checkbox {
  float: left;
  margin-top: 2px;
}
.agreement__agree .trans-element-checkbox + label {
  display: block;
  margin-left: 25px;
}

.verify .verify__input {
  display: inline-block;
  width: 220px;
  vertical-align: middle;
}
.verify .verify__img {
  display: inline-block;
  vertical-align: middle;
}

.jc .jc__head {
  margin: 2px 0 5px;
  text-align: center;
}
.jc .jc__choose {
  display: inline-block;
  width: 155px;
  padding: 0 20px;
  font-size: 20px;
  color: #333;
  text-align: center;
  vertical-align: middle;
}
.jc .jc__prevMonth {
  display: inline-block;
  vertical-align: middle;
}
.jc .jc__prevMonth:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url(../images/icon-double-arrow.png) no-repeat 0 0;
  vertical-align: middle;
}
.jc .jc__nextMonth {
  display: inline-block;
  vertical-align: middle;
}
.jc .jc__nextMonth:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url(../images/icon-double-arrow.png) no-repeat 0 -21px;
  vertical-align: middle;
}
.jc .jc__calendar {
  border: 1px solid #dedede;
}
.jc .jc__calendar > thead {
  border-bottom: 2px solid #dedede;
  background-color: #f5f5f5;
}
.jc .jc__calendarDateHeader {
  padding: 5px;
  width: 14.285%;
  font-size: 13px;
  font-weight: normal;
  border: 1px solid #dedede;
}
.jc .jc__calendarDateBox {
  padding: 5px;
  height: 54px;
  border: 1px solid #dedede;
  vertical-align: top;
}
.jc .jc__calendarDateBox.today {
  background-color: #fffee8;
}
.jc .jc__calendarDateLabel > a {
  display: inline-block;
  width: 18px;
  font-size: 13px;
  color: #999;
  text-decoration: none;
  cursor: default;
  text-align: center;
}
.jc .jc__event > a {
  display: inline-block;
  width: 18px;
  font-size: 6px;
  text-decoration: none;
  text-align: center;
}
.jc .jc__event > a:before {
  content: "●";
}

.step {
  margin: 18px 0;
  text-align: center;
}
.step__item {
  display: inline-block;
  margin-left: 75px;
  font-size: 16px;
}
.step__item:first-of-type {
  margin-left: 0;
}
.step__item.active .step__no {
  color: #fff;
  background-position: 0 -30px;
}
.step__item.active .step__name {
  color: #149a88;
}
.step__no {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: url(../images/icon-step.png) no-repeat 0 0;
  vertical-align: middle;
  text-align: center;
  color: #999;
}
.step__name {
  display: inline-block;
  color: #333;
  vertical-align: middle;
}

.immediately {
  position: absolute;
  margin: 11px 0 12px -70px;
  font-size: 15px;
}

.result {
  min-height: 250px;
  margin-bottom: 15px;
  font-size: 15px;
}
.result__row {
  width: 70%;
  margin: 10px auto;
}
.result__title {
  display: inline-block;
  width: 140px;
  text-align: right;
}
.result__field {
  display: inline-block;
}

.smap__mm1-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.smap__mm1-list > li {
  background-color: #f6f6f6;
}
.smap__mm1-name {
  display: inline-block;
  padding: 5px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #149a88;
  text-decoration: none;
}
.smap__mm1-name > span {
  vertical-align: middle;
}
.smap__mm1-name:hover > span {
  text-decoration: underline;
}
.smap__mm2 {
  background-color: #fff;
}
.smap__mm2--fluid .smap__mm2-list > li {
  width: auto;
  margin-left: 55px;
}
.smap__mm2--fluid .smap__mm2-list > li:first-of-type {
  margin-left: 0;
}
.smap__mm2-list {
  margin: 0;
  padding: 15px 30px 40px;
  list-style-type: none;
}
.smap__mm2-list > li {
  float: left;
  width: 20%;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.smap__mm2-list > li:nth-of-type(5n+1) {
  clear: left;
}
.smap__mm2-list > li:nth-of-type(5) ~ li {
  margin-top: 20px;
}
.smap__mm2-name {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
.smap__mm2-name:hover {
  color: #149a88;
  text-decoration: underline;
}
.smap__mm3 {
  margin-top: 5px;
}
.smap__mm3-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.smap__mm3-name {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  font-size: 14px;
  color: #666;
  text-decoration: none;
}
.smap__mm3-name:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  margin: 6px 0 5px;
  background: url(../images/icon-arrow_10px.png) no-repeat -10px -30px;
  vertical-align: middle;
}
.smap__mm3-name:hover {
  color: #149a88;
  text-decoration: underline;
}

.view-type {
  text-align: right;
}
.view-type__item {
  margin-left: 15px;
}
.view-type__item > span {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  text-decoration: underline;
  vertical-align: middle;
}
.view-type__item > span:hover {
  color: #149a88;
}
.view-type__item.active > span {
  color: #149a88;
  text-decoration: none;
}

.view {
  padding-bottom: 10px;
}
.view__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.view__list > li {
  float: left;
  width: 25%;
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.view__list > li:nth-of-type(4n+1) {
  clear: left;
}
.view__list > li:nth-of-type(4) ~ li {
  margin-top: 25px;
}

.exrate__name {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
.exrate__flag {
  border: 1px solid #dedede;
}
.exrate__flag img {
  width: 100%;
}
.exrate__flag ~ .exrate__info {
  margin-top: -1px;
}
.exrate__info {
  display: table;
  width: 100%;
  border: 1px solid #dedede;
  border-collapse: collapse;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*& ~ & {
  	margin-top: -1px;
  }*/
}
.exrate__inout, .exrate__rate {
  display: table-cell;
  width: 50%;
  padding: 15px 5px;
  text-align: center;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.exchange__name {
  display: inline-block;
  margin-left: 35px;
  font-size: 17px;
  font-weight: bold;
  color: #525252;
}
.exchange__time {
  float: right;
  color: #999;
}
.exchange__wrap {
  display: table;
  width: 100%;
  border: 1px solid #dedede;
}
.exchange__flag {
  display: table-cell;
  width: 20%;
  min-width: 200px;
  padding: 10px 20px;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.exchange__flag-img {
  width: 156px;
  margin: 0 auto 5px;
}
.exchange__flag-img > img {
  width: 100%;
}
.exchange__currency {
  text-align: left;
}
.exchange__rate {
  display: table-cell;
  width: 80%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.exchange__info {
  width: 50%;
  float: left;
}
.exchange__agent {
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #dedede;
  color: #333;
}
.exchange__cell {
  width: 50%;
  float: left;
  line-height: 60px;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.exchange__cell:nth-of-type(2) ~ .exchange__cell {
  background-color: #f6f6f6;
}

.ercal__head {
  padding: 0 15px;
  line-height: 45px;
  font-weight: bold;
  border: 1px solid #dedede;
  background-color: #f6f6f6;
}
.ercal__wrap {
  display: table;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.ercal__side, .ercal__mid {
  display: table-cell;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ercal__side {
  width: 250px;
}
.ercal__mid {
  position: relative;
  width: 500px;
  /*padding: 5px 35px 10px;*/
  cursor: pointer;
}
.ercal__mid:before, .ercal__mid:after {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../images/icon-rotate.png) no-repeat;
  vertical-align: middle;
}
.ercal__mid:before {
  content: "";
  bottom: 15px;
  left: 7%;
  background-position: 0 -20px;
}
.ercal__mid:after {
  content: "";
  top: 15px;
  right: 7%;
  background-position: 0 0;
}
.ercal__top {
  line-height: 60px;
  border-bottom: 1px solid #dedede;
}
.ercal__bottom {
  padding: 10px;
  line-height: 45px;
}
.ercal__back, .ercal__front {
  position: absolute;
  top: 5px;
  left: 5%;
  width: 80%;
  padding-top: 15px;
  height: 70px;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  z-index: 50;
  -webkit-box-shadow: 3px 4px 5px rgba(222, 222, 222, 0.75);
  -moz-box-shadow: 3px 4px 5px rgba(222, 222, 222, 0.75);
  box-shadow: 3px 4px 5px rgba(222, 222, 222, 0.75);
  border: solid 1px #dedede;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.ercal__back.active, .ercal__front.active {
  top: 45px;
  left: 15%;
  z-index: 60;
  color: #525252;
  -webkit-box-shadow: 3px 4px 5px rgba(73, 73, 73, 0.75);
  -moz-box-shadow: 3px 4px 5px rgba(73, 73, 73, 0.75);
  box-shadow: 3px 4px 5px rgba(73, 73, 73, 0.75);
  border: solid 1px #7e7e7e;
}
.ercal__back {
  background-color: #f6f6f6;
}
.ercal__front {
  background-color: #d4f0f0;
}

.info-title {
  margin: 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #525252;
}

.pager {
  margin: 40px 0;
  text-align: center;
}
.pager > a {
  display: inline-block;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  text-decoration: none;
  vertical-align: middle;
}
.pager__prev:before, .pager__next:before {
  content: "";
  display: inline-block;
  margin-top: -3px;
  width: 12px;
  height: 12px;
  background: url(../images/icon-arrow_12px.png) no-repeat;
  vertical-align: middle;
}
.pager__prev.disable, .pager__next.disable {
  background-color: #f5f5f5;
  cursor: default;
}
.pager__prev:before {
  background-position: -12px -24px;
}
.pager__prev.disable:before {
  background-position: -36px -24px;
}
.pager__next:before {
  background-position: -12px -36px;
}
.pager__next.disable:before {
  background-position: -36px -36px;
}
.pager__no.active {
  background-color: #999;
  color: #fff;
}

.op {
  position: relative;
}
.op__row {
  position: relative;
  display: table;
  width: 100%;
  margin: 20px 0;
  text-align: center;
}
.op__col {
  position: relative;
  display: table-cell;
  padding: 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}
.op__col-2-1 {
  width: 50%;
}
.op__col-2-1:nth-of-type(odd) {
  padding-right: 12px;
  text-align: right;
}
.op__col-2-1:nth-of-type(odd) .op__item {
  display: inline-block;
}
.op__col-2-1:nth-of-type(even) {
  padding-left: 12px;
  text-align: left;
}
.op__col-2-1 .op__item {
  display: inline-block;
}
.op__col-3-1 {
  width: 33.33%;
}
.op__col-3-2 {
  width: 66.66%;
}
.op__col--big {
  padding: 38px 10px;
  background-color: #fffee8;
  border-radius: 10px;
}
.op__item {
  display: inline-block;
  padding: 25px 0 30px;
  text-align: left;
}
.op__item:before {
  float: left;
}
.op__content {
  margin-left: 55px;
  min-height: 50px;
}
.op__content > * {
  margin-top: 0;
}
.op__warning {
  margin: 3px 0;
  font-size: 14px;
  color: #ff0000;
}
.op__link {
  display: block;
  position: relative;
  margin: 3px 0;
  text-decoration: none;
}
.op__link:hover {
  color: #149a88;
}
.op__root {
  font-size: 16px;
  color: #525252;
}
.op__root:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  margin-left: 5px;
  background: url(../images/icon-arrow-round.png) no-repeat 0 -48px;
  vertical-align: middle;
}
.op__root:hover:after {
  background-position: -16px -48px;
}
.op__child {
  margin-left: 3px;
  font-size: 14px;
  color: #666;
}
.op__child:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/icon-arrow_10px.png) no-repeat -10px -30px;
  vertical-align: middle;
}
.op__start {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
  display: inline-block;
  width: 120px;
  height: 120px;
  padding: 35px 0;
  font-size: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-radius: 60px;
  background-color: #f59d15;
  color: #fff;
}
.op__begin {
  position: relative;
  text-align: center;
}
.op__begin:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3px;
  background-color: #00d3b4;
}
.op__begin:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  background: url(../images/icon-op-arrow_gn.png) no-repeat 0 -20px;
}
.op__begin-ctx {
  display: inline-block;
  padding: 5px 45px;
  font-size: 16px;
  background-color: #00d3b4;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
}
.op__arrow--og:before, .op__arrowd--og:before, .op__arrow--gn:before, .op__arrowd--gn:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.op__arrow--og:before {
  background-image: url(../images/icon-op-arrow_og.png);
}
.op__arrowd--og:before {
  background-image: url(../images/icon-op-arrowd_og.png);
}
.op__arrow--gn:before {
  background-image: url(../images/icon-op-arrow_gn.png);
}
.op__arrowd--gn:before {
  background-image: url(../images/icon-op-arrowd_gn.png);
}
.op__arrow--top, .op__arrow--top-right, .op__arrow--east, .op__arrow--bottom, .op__arrow--bottom-right {
  display: inline-block;
  position: absolute;
}
.op__arrow--top {
  top: -10px;
  left: 50%;
  margin-left: -10px;
}
.op__arrow--top-right {
  top: -10px;
  right: 20%;
}
.op__arrow--bottom {
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}
.op__arrow--bottom-right {
  bottom: -10px;
  right: 20%;
}
.op__arrow--east {
  right: 0;
  top: 50%;
  margin-top: -10px;
}
.op__arrow--up:before {
  background-position: 0 0;
}
.op__arrow--down:before {
  background-position: 0 -20px;
}
.op__arrow--up-right:before {
  background-position: 0 -100px;
}
.op__arrow--down-right:before {
  background-position: 0 -140px;
}
.op__arrow--down-left:before {
  background-position: 0 -120px;
}
.op__arrow--right:before {
  background-position: 0 -60px;
}

.action-area {
  width: 240px;
  margin: 30px auto;
}

.action-inline {
  margin: 30px auto;
  text-align: center;
}

.action-2 {
  display: inline-block;
  width: 240px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.action-2:nth-of-type(odd) {
  padding-right: 10px;
}
.action-2:nth-of-type(even) {
  padding-left: 10px;
}

.action-3 {
  display: inline-block;
  width: 240px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.action-3:nth-of-type(3n) {
  padding-left: 10px;
}
.action-3:nth-of-type(3n+1) {
  padding-right: 10px;
}
.action-3:nth-of-type(3n+2) {
  padding-left: 5px;
  padding-right: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.pc-hide {
  display: none;
}

/*---------- popup ----------*/
.popup {
  display: none;
  min-width: 540px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup .popup__head {
  background-color: #149a88;
}
.popup .popup__title {
  float: left;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.popup .popup__date {
  float: right;
  padding: 19px 20px 10px;
  font-size: 14px;
  color: #fff;
}
.popup .popup__wrap {
  padding: 10px 20px;
}
.popup .form {
  padding: 0;
  background-color: transparent;
}
.popup .form__row {
  width: auto;
}
.popup .action-2 {
  width: 50%;
  float: left;
}
.popup .action-3 {
  width: 33.33%;
  float: left;
}

/*---------- page ----------*/
/*---------- list ----------*/
/*---------- background ----------*/
/*---------- line ----------*/
.line--dash {
  border: 0;
  border-bottom: 1px dashed #dedede;
}

/*---------- link ----------*/
a {
  color: #149a88;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a.link.icon:hover span {
  text-decoration: none;
}
a.link.icon span {
  text-decoration: underline;
}

/*---------- form ----------*/
input[type="text"],
input[type="search"],
input[type="date"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="file"],
.textbox {
  width: 100%;
  height: 45px;
  padding: 12px 16px;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  color: #333;
}
input[type="text"]::-webkit-inner-spin-button, input[type="text"]::-webkit-outer-spin-button,
input[type="search"]::-webkit-inner-spin-button,
input[type="search"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="tel"]::-webkit-inner-spin-button,
input[type="tel"]::-webkit-outer-spin-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button,
input[type="email"]::-webkit-inner-spin-button,
input[type="email"]::-webkit-outer-spin-button,
input[type="file"]::-webkit-inner-spin-button,
input[type="file"]::-webkit-outer-spin-button,
.textbox::-webkit-inner-spin-button,
.textbox::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.form__ui--s input[type="text"], .form__ui--s
input[type="search"], .form__ui--s
input[type="date"], .form__ui--s
input[type="month"], .form__ui--s
input[type="number"], .form__ui--s
input[type="tel"], .form__ui--s
input[type="password"], .form__ui--s
input[type="email"], .form__ui--s
input[type="file"], .form__ui--s
.textbox {
  padding: 6px 11px 7px;
  height: 35px;
}
.icon > input[type="text"], .icon >
input[type="search"], .icon >
input[type="date"], .icon >
input[type="month"], .icon >
input[type="number"], .icon >
input[type="tel"], .icon >
input[type="password"], .icon >
input[type="email"], .icon >
input[type="file"], .icon >
.textbox {
  padding-left: 50px;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}
input[type="date"].datepicker, input[type="date"].monthpicker,
input[type="month"].datepicker,
input[type="month"].monthpicker {
  background: url(../images/icon-calendar.png) #fff no-repeat right center;
}

textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form {
  padding: 35px 0;
  background-color: #f6f6f6;
}
.form.form--hor {
  padding: 15px;
}
.form.form--hor .form__row {
  display: inline-block;
  width: auto;
  margin: 0 0 0 15px;
  vertical-align: middle;
}
.form.form--hor .form__field {
  margin-left: 0;
}
.form.form--hor input[type="text"],
.form.form--hor input[type="search"],
.form.form--hor input[type="date"],
.form.form--hor input[type="month"],
.form.form--hor input[type="number"],
.form.form--hor input[type="tel"],
.form.form--hor input[type="password"],
.form.form--hor input[type="email"],
.form.form--hor input[type="file"],
.form.form--hor .textbox,
.form.form--hor select,
.form.form--hor .transformSelect {
  width: 290px;
}
.form.form--idx {
  height: 315px;
  padding: 0;
  background-color: transparent;
}
.form.form--idx .form__row {
  width: auto;
  margin: 10px 0;
}
.form.form--idx .form__row:first-of-type {
  margin-top: 0;
}
.form.form--idx .form__title {
  display: none;
}
.form.form--idx .form__field {
  margin: 0;
}
.form.form--idx .form__remind {
  margin: 10px 0;
}
.form.form--idx .form__btn {
  width: auto;
  margin: 15px 0;
}
.form.form--idx .form__aid {
  text-align: center;
}
.form.form--idx .form__aid > a {
  display: inline-block;
  padding: 0 10px;
}
.form.form--idx .keyboard__switch {
  color: #999;
}
.form.form--idx-h {
  height: auto;
}
.form.form--idx-h .form__title {
  float: none;
  display: inline-block;
  width: 95px;
  height: 35px;
  margin-right: 0;
  padding: 6px 0 7px;
  vertical-align: top;
  text-align: right;
}
.form.form--idx-h .form__field {
  display: inline-block;
  width: 320px;
  vertical-align: top;
}
.form.form--idx-h .form__remind {
  font-size: 15px;
}
.form.form--idx-h .form__aid > a {
  font-size: 15px;
  color: #149a88;
}
.form.form--idx-h .keyboard__switch {
  color: #999;
}
.form.form--idx-h .form__field-sk .form__ui {
  margin-right: 105px;
}
.form.form--idx-h .form__field-sk .form__ui-sk {
  padding: 5px 0;
}
.form.form--idx-h .form__field-sk .keyboard__switch i {
  display: inline-block;
  margin-right: 5px;
}
.form.form--idx-h .form__field-sk .keyboard__switch i:before {
  background-position: 0 -13px;
}
.form__row {
  width: 80%;
  margin: 15px auto;
}
.form__title {
  float: left;
  display: inline-block;
  width: 25%;
  height: 45px;
  padding: 11px 10px 12px 0;
  color: #525252;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  clear: left;
}
.form__title + .form__field {
  margin-left: 25%;
}
.form__label {
  padding: 11px 10px 12px 0;
}
.form__field-row + .form__field-row {
  margin-top: 10px;
  clear: both;
}
.form__field-sk {
  position: relative;
}
.form__field-sk .form__ui {
  margin-right: 86px;
}
.form__field-sk .form__ui-sk {
  position: absolute;
  top: 0;
  right: 0;
}
.form__error {
  display: none;
  margin: 5px 0;
  color: #ff0000;
}
.form__remind {
  margin: 5px 0 10px;
  font-size: 13px;
  color: #999;
  line-height: 1;
}
.form__account {
  margin: 5px 0 10px;
  color: #333;
}
.form__btn {
  width: 240px;
  margin: 30px auto;
}
.form--desk {
  padding: 10px 0;
  border-top: 1px solid #dedede;
}
.form--desk .form__row {
  width: 510px;
}

.form__ui.icon {
  position: relative;
}
.form__ui.icon:before, .form__ui.icon:after {
  position: absolute;
  top: 50%;
  margin-top: -12.5px;
  margin-left: 12.5px;
}
.form__ui .form__ui-tip {
  color: #333;
}
.form__ui .form__ui-radio-inline {
  display: inline-block;
  margin-right: 30px;
  padding: 12px 5px;
}
.form__ui.form__ui--ml45 {
  margin-left: 45px;
}
.form__ui.form__ui--ml120 {
  margin-left: 120px;
}
.form__ui.form__ui--pr200 {
  position: relative;
  padding-right: 200px;
}
.form__ui.form__ui--pr200 .form__ui-mra {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 11px 5px 12px;
  text-align: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__ui.error input {
  border-color: #ff0000;
}
.form__ui--addon {
  position: relative;
}
.form__ui--addon > input {
  padding-right: 40px;
}
.form__ui--addon .form__addon {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -15px;
}
.form__ui--cd {
  position: relative;
  padding-right: 80px;
}
.form__ui--cd .form__ui-tip {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  padding: 11px 5px 12px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__ui--ab {
  position: relative;
  padding-right: 185px;
}
.form__ui--ab .form__ui-balance {
  position: absolute;
  top: 0;
  right: 0;
  width: 185px;
  padding: 11px 5px 12px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__ui--ab .form__ui-sd {
  position: absolute;
  top: 0;
  right: 0;
  width: 185px;
  padding: 11px 5px 12px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__ui--ntd {
  position: relative;
  padding-left: 62px;
  padding-right: 30px;
}
.form__ui--ntd .form__ui-nt,
.form__ui--ntd .form__ui-d {
  position: absolute;
  padding: 11px 5px 12px;
  height: 45px;
  top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.form__ui--ntd .form__ui-nt {
  left: 0;
  /*width: 80px;*/
}
.form__ui--ntd .form__ui-d {
  right: 0;
  width: 30px;
}
.form__ui--d {
  position: relative;
  padding-right: 30px;
}
.form__ui--d .form__ui-d {
  position: absolute;
  padding: 11px 5px 12px;
  height: 45px;
  top: 0;
  right: 0;
  width: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.form__ui--dp {
  position: relative;
}
.form__ui--dp .form__ui-begin,
.form__ui--dp .form__ui-end {
  float: left;
  width: 48%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__ui--dp .form__ui-begin > input,
.form__ui--dp .form__ui-end > input {
  padding: 11px 36px 11px 10px;
}
.form__ui--dp .form__ui-sp {
  float: left;
  width: 4%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__ui .form__ui-fl, .form__ui .form__ui-fr {
  height: 45px;
  padding: 11px 5px 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.form__ui-fl {
  float: left;
}
.form__ui-fr {
  float: right;
}

.trans-element-radio + label {
  cursor: pointer;
}

.ui-half .ui-half__item {
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-half .ui-half__item:nth-of-type(2n+1) {
  clear: left;
}

.skn {
  padding: 10px;
  border: 1px solid #dedede;
  background-color: #fff;
}
.skn .skn__btn {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.skn .skn__btn > li {
  float: left;
  display: inline-block;
  margin-left: 10px;
}
.skn .skn__btn > li:nth-of-type(3n+1) {
  margin-left: 0;
  clear: left;
}
.skn .skn__btn > li:nth-of-type(3n) ~ li {
  margin-top: 10px;
}
.skn .skn__key {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.skn .skn__key:hover {
  color: #149a88;
}
.skn .skn__key.skn__key--del {
  background-color: #999;
}
.skn .skn__key.skn__key--ok {
  background-color: #c6af5c;
  color: #fff;
}
.skn .skn__field {
  margin-left: 150px;
}
.skn .skn__tip {
  margin-top: 10px;
  color: #ff0000;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

/*---------- font & title ----------*/
.h1 {
  position: relative;
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #525252;
  text-align: center;
}
.h1.icon:before {
  display: block;
  margin: 0 auto;
}
.h1--list {
  text-align: left;
}

.h2 {
  font-size: 18px;
}

.h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.h4 {
  font-size: 15px;
}

.h5 {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.f-og {
  color: #f59d15;
}

.f-rd {
  color: #ff0000;
}

.f-hei {
  font-family: "微軟正黑體", "Microsoft JhengHei", Arial, sans-serif;
}

/*---------- position ----------*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

/*---------- text align ----------*/
.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.vac {
  vertical-align: middle;
}

/*---------- display ----------*/
.block {
  display: block;
}

.inblock {
  display: inline-block;
}

.inline {
  display: inline;
}

.hide {
  display: none;
}

/*---------- float ----------*/
.fl {
  float: left;
}

.fr {
  float: right;
}

/*---------- margin ----------*/
.mr20 {
  margin-right: 20px;
}

/*---------- padding ----------*/
/*---------- width ----------*/
/*---------- height ----------*/
/*---------- line height ----------*/
/*---------- background color ----------*/
.bg-gy {
  background-color: #e5e5e5;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}

.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .i-news__prev:before, .i-news__next:before, .i-news__prev:after, .i-news__next:after {
    background-image: url(../images/icon-news@3x.png);
    background-size: 45px;
  }

  .i-useful__try:before, .i-useful__faq:before, .i-useful__reg:before, .i-useful__env:before, .i-useful__trend:before, .i-useful__contact:before, .i-useful__try:after, .i-useful__faq:after, .i-useful__reg:after, .i-useful__env:after, .i-useful__trend:after, .i-useful__contact:after {
    background-image: url(../images/icon-useful@3x.png);
    background-size: 60px;
  }

  .i-result__ok:before, .i-result__fail:before, .i-result__ok:after, .i-result__fail:after {
    background-image: url(../images/icon-result@3x.png);
    background-size: 40px;
  }

  .i-view__grid:before, .i-view__list:before, .i-view__chart:before, .i-view__grid:after, .i-view__list:after, .i-view__chart:after {
    background-image: url(../images/icon-view@3x.png);
    background-size: 40px;
  }

  .i-btn__favorite:before, .i-btn__search:before, .i-btn__calendar:before, .i-btn__refresh:before, .i-btn__keyboard:before, .i-btn__favorite:after, .i-btn__search:after, .i-btn__calendar:after, .i-btn__refresh:after, .i-btn__keyboard:after {
    background-image: url(../images/icon-button@3x.png);
    background-size: 30px;
  }

  .i-20__close:before, .i-20__add:before, .i-20__pen:before, .i-20__time:before, .i-20__close:after, .i-20__add:after, .i-20__pen:after, .i-20__time:after {
    background-image: url(../images/icon-20px@3x.png);
    background-size: 20px;
  }

  .i-my__nt:before, .i-my__import:before, .i-my__loan:before, .i-my__card:before, .i-my__fund:before, .i-my__gold:before, .i-my__other:before, .i-my__bill:before, .i-my__bond:before, .i-my__nt:after, .i-my__import:after, .i-my__loan:after, .i-my__card:after, .i-my__fund:after, .i-my__gold:after, .i-my__other:after, .i-my__bill:after, .i-my__bond:after {
    background-image: url(../images/icon-my-menu@3x.png);
    background-size: 62px;
  }

  .i-smap__desk:before, .i-smap__nt:before, .i-smap__import:before, .i-smap__loan:before, .i-smap__card:before, .i-smap__fund:before, .i-smap__gold:before, .i-smap__other:before, .i-smap__desk:after, .i-smap__nt:after, .i-smap__import:after, .i-smap__loan:after, .i-smap__card:after, .i-smap__fund:after, .i-smap__gold:after, .i-smap__other:after {
    background-image: url(../images/icon-sitemap@3x.png);
    background-size: 40px;
  }

  .news-nav .bx-prev > i,
  .news-nav .bx-next > i {
    background-image: url(../images/icon-news@3x.png);
    background-size: 30px;
  }

  .cash-box .cash-box__item:before {
    background-image: url(../images/icon-cashbox@3x.png);
    background-size: 32px;
  }
  .cash-box .cash-box__del:before {
    background-image: url(../images/icon-20px@3x.png);
    background-size: 20px;
  }

  .ercal__back:before, .ercal__back:after, .ercal__front:before, .ercal__front:after {
    background-image: url(../images/icon-rotate@3x.png);
    background-size: 20px;
  }

  .notes .notes__title:before {
    background-image: url(../images/icon-notes@3x.png);
    background-size: 20px;
  }

  input[type="date"].datepicker, input[type="date"].monthpicker,
  input[type="month"].datepicker,
  input[type="month"].monthpicker {
    background-image: url(../images/icon-calendar@3x.png);
    background-size: 35px;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
