﻿@charset "utf-8";
/* CSS Document */

/* remember to define focus styles! */
:focus {
outline: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

body{
width:100%;
height:100%;
margin:10px auto;
background-color:#FFFFFF;
font-size:12px;
color:#000000;
line-height:1.4;
text-align:center;
background:url(nothing.txt) white fixed; /*css hack:防止IE6捲動時閃爍*/
}

h4
{
	font-weight:bold;
	font-size:16px;
}

/* 讓中英文Button等高 */
input{
	height:26px;
	vertical-align:middle;
}

#fixed-header{
background:#FFFFFF;
width:100%;
left:0px;
top:0px;
padding-top:10px;
position:fixed; 
_position: absolute; /*css hack:IE6以下適用*/
_top:expression(documentElement.scrollTop+"px"); /*css hack:IE6以下適用*/
z-index:1;
}

#logo{
background:url(../images/webbank01_03.jpg) no-repeat center center;
height:81px;
width:918px;
margin:0 auto;
top:10px;
text-align:center;
}

#site-map{
	text-align:right;
	width:440px;
	padding-top:30px;
	margin-left:290px;
	line-height:2;
}

#mainmenu_background{
background:url(../images/webbank01_051.gif);
height:25px;
width:100%;
margin:0 auto;
text-align:center;}

#mainmenu1{
background:url(../images/webbank01_051.gif);
height:10px;
width:100%;
margin:0 auto;
text-align:center;}

#mainmenu{
height:25px;
width:918px;
margin:0 auto;
text-align:center;}

#mainmenu table
{
	margin-left:10px;
}

#indexmain{
height:630px;
width:918px;
margin:0 auto;
padding-top:131px;
text-align:left;
}

#mainarea{
background-color:#FFFFFF;
min-height:550px; /*IE6以上或其他瀏覽器適用*/
_height:550PX; /*css hack:IE6以下適用*/
width:100%;
margin:0 auto;
padding-top:131px;
text-align:center;
}

#submenu{
float:left;
width:250px;
margin-left:20px;

}

#contect{
width:600px;
float:left;
margin-left:10px;
margin-top:10px;
margin-bottom:10px;
}

#login{
width:250px;
height:176px;
background-image:url(../images/webbank-login.jpg);
}


#login-title{
height:45px;
}

#login-input{
width:210px;
/*height:30px;*/
margin:auto;
}

#login td{
margin-top:2px;
color:#004857;
font-weight:bold;
clear:both;
}

.uid{
width:65px;
margin-top:-5px;
}

#info{
float:left;
width:300px;}

#news{
float:left;
width:300px;
}

#share-title{
clear:both;}

#share{}

#footer{
clear:both;
background:url(../images/webbank_40_1.jpg);
height:49px;
width:100%;
margin:0 auto;
}

#footer1{
height:29px;
width:100%;
margin:0 auto;
text-align:center;
}

#system{
width:250px;
height:176px;
background-image:url(../images/webbank03_03.jpg);
}

#system-menu{
width:200px;
margin:10px auto;
color:#000000;
font-weight:bold;
font-size:14px;
}

#contect-in{
background-image:url(../images/contect_07.jpg);
width:518px;
height:474px;
margin:0 auto;}

#contect-in p{
margin:10px;
}

#right-up{
width:255px;
height:230px;
margin-left:265px;
margin-top:-475px;}

#right-down{
width:255px;
height:230px;
margin-left:265px;
margin-top:10px;}

#left-up{
width:255px;
height:230px;}

#left-down{
width:255px;
height:230px;
margin-top:10px;}

#service-main{
	float:left;
	width:665px;
	height:600px;
	margin-left:80px;
	text-align:left;
}

#service-quick{
width:81px;
height:421px;
background-image:url(../images/webbank05_03.jpg);
float:left;
margin-left:10px;}


#service-quick div{
margin-top:70px;
margin-left:10px;
}

#service-quick p{
margin-bottom:15px;}

#service-hello{
font-size:14px;
font-weight:bold;
margin-left:20px;
}

#service-warring{
background-image:url(../images/webbank05_06.jpg);
width:662px;
height:102px;
margin:0 auto;
padding-top:10px;}

#service-warring p{
width:550px;
margin-left:100px;
line-height:1.3;
}

#service1{
width:160px;
height:150px;
margin-left:20px;
font-size:13px;
line-height:1.5;
color:#000000;}
#service2{
	width:160px;
	height:150px;
	margin-top:-150px;
	margin-left:180px;
	font-size:13px;
	line-height:1.5;
	color:#000000;
}
#service3{
	width:160px;
	height:150px;
	margin-top:-150px;
	margin-left:360px;
	font-size:13px;
	line-height:1.5;
	color:#000000;
}
#service4{
width:160px;
height:150px;
margin-left:20px;
font-size:13px;
line-height:1.5;
color:#000000;}
#service5{
	width:160px;
	height:150px;
	margin-top:-150px;
	margin-left:180px;
	font-size:13px;
	line-height:1.5;
	color:#000000;
}
#service6{
	width:160px;
	height:150px;
	margin-top:-150px;
	margin-left:360px;
	font-size:13px;
	line-height:1.5;
	color:#000000;
}
#service7{
	width:160px;
	height:150px;
	margin-top:-150px;
	margin-left:520px;
	font-size:13px;
	line-height:1.5;
	color:#000000;
}

#pic{
	width:161px;
	height:255px;
	margin-top:-250px;
	margin-left:550px;
}

#pic2{
text-align:center;}

#TIMEOUT
{
	color:red;
	font-weight:bold;
}

#ResetTimeout
{
	margin-left:3px;
	cursor:pointer;
}

#PrintArea
{
	margin:auto;
}

.WidthL,.WidthM,.WidthS,.TextBorder,.DataBorder,.MemoBar,.ButtonBar,.MessageBar,#PrintLogo
{
	padding-bottom:1em;
}
.WidthL
{
	float:center;
	width:980px;	
}
.WidthM
{
	float:center;
	width:780px;
}
.WidthS
{
	float:center;
	width:620px;
}
table
{
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
table th
{
	font-weight:normal;
	BACKGROUND-COLOR: #99cdff;
	color: #000000;
	vertical-align:middle;
	text-align:center;
	padding:3px;
}
.TextBorder
{
	border-collapse:collapse;
	border:0;
	margin-bottom:1em;
}
.TextBorder td, th
{
	padding: 3px;
}
.DataBorder
{
	border-collapse:collapse;
	border:1px solid #99cdff;
	margin-bottom:1em;
}
.DataBorder td,th
{
	border:1px solid #FFFFFF;
	padding: 3px;
}
.MemoBar
{
	text-align:left;
	color:black;
}
.ButtonBar
{
	text-align:-moz-center;	/*css hack:使FireFox支援置中*/
}
.ButtonBar table
{
	margin-left:auto;
	margin-right:auto;
}
.MessageBar
{
	font-weight:bold;
	font-size:14px;
	text-align:center;
	color:#FF0000;
}
.ColorText
{
	color:#FF0000;
}
td
{
	vertical-align:middle;
}
td.ColorCell
{
	BACKGROUND-COLOR: #99cdff;
	color: #000000;
	vertical-align:middle;
	text-align:center;
}
td.TextCell,td.DataCell
{
	BACKGROUND-COLOR: #FFFFFF;
	color: #000000;
	text-align:left;
}
td.DataCell0
{
	BACKGROUND-COLOR: #DDEEFF;
	color: #000000;
	text-align:left;
}
td.DataCell1
{
	BACKGROUND-COLOR: #ECF5FF;
	color: #000000;
	text-align:left;
}
tr.TextRow,tr.ColorRow
{
	text-align:center;
	color: #000000;
}
tr.Row0
{
	BACKGROUND-COLOR: #F4FAFF;
}
tr.Row1
{
	BACKGROUND-COLOR: #DDEEFF;
}
.Cron
{
 	border: 1px solid #000000;
 	background-color: #FF0000;
 	color: #FFFFFF;
 	table-layout: auto;
 	width: 100px;
}
@media screen
{
	.NoScreen
	{
		display:none;
	}
}
@media print
{
	body
	{
		width:100%;
		margin:0px;
		color:#000000;
		font-size:12px;
	}
	#mainarea
	{
		width:100%;
		padding-top:0px;
	}
	.WidthL
	{
		width:640px;	
	}
	.WidthM
	{
		width:640px;
	}
	.WidthS
	{
		width:500px;
	}
	table
	{
		font-size:12px;
	}
	table th
	{
		color: #000000;
	}
	.DataBorder
	{
		border-collapse:collapse;
		border:1px solid #000000;
	}
	.DataBorder td,th
	{
		border:1px solid #000000;
		color: #000000;
	}
	.MessageBar
	{
		font-weight:bold;
		font-size:14px;
		color:#000000;
	}
	.ColorText
	{
		color:#000000;
	}
	td.ColorCell
	{
		color: #000000;
	}
	td.TextCell,td.DataCell
	{
		color: #000000;
	}
	tr.TextRow,tr.ColorRow
	{
		color: #000000;
	}
	.NoPrint
	{
		display:none;
	}
}

.loadingDiv{
	position:fixed;
	top:0px;
	left:0px;
	_position: absolute; /*css hack:IE6以下適用*/
	_top:expression(documentElement.scrollTop + "px"); /*css hack:IE6以下適用*/
	z-index:99998;
	background-color:#000000;
	width:100%;
	height:3000px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	KhtmlOpacity: 0;
	opacity: 0;
	text-align:center;
}
.loading_status{
	position:fixed;
	top:170px;
	left:0px;
	_position: absolute; /*css hack:IE6以下適用*/
	_top:expression(170 + documentElement.scrollTop + "px"); /*css hack:IE6以下適用*/
	margin-left:auto;
	margin-right:auto;
	z-index:99999;
	width:100%;
	height:100%;
	text-align:center;
}
.SystemMsgBar{
	position:fixed;
	top:116px;
	left:0px;
	_position: absolute; /*css hack:IE6以下適用*/
	_top:expression(116 + documentElement.scrollTop + "px"); /*css hack:IE6以下適用*/
	margin-left:auto;
	margin-right:auto;
	z-index:99999;
	width:100%;
	height:100%;
	text-align:center;
	background:#FFFFFF;
	padding-top:80px;
}
.SystemMsgBar h4{
	color:red;
}
.DisableLink
{
	color:#AAAAAA;
}

.Invest
{
        width:600 px;
        background-color:dimgray;
        border:0px solid #000000; 
        padding: 0px; 
        cellspacing: 0px;
}

.InvestT
{

        background-color:darkorange;
        border:0px solid #000000; 
        padding: 5px; 
        cellspacing: 0px;
        text-align:left;
        color:darkslateblue;

}


.InvestC
{

        background-color:moccasin;
        border:0px solid #000000; 
        padding: 5px; 
        cellspacing: 0px;
        text-align:left;
        color:darkslateblue;

}

	.MenuItem
	{
		height:23px;
		background:#ee5d2e;
	}
	
	.M_Link
	{
		font-size:13px;
		font-weight:bold;
		color:#FFFFFF;
		text-decoration:none;
    text-shadow: #b7431e 0px 1px 1px, 
    						 #b7431e 2px 0px 1px;
	}
	
	.M_Link:hover
	{
		color:#853333;		
    text-shadow: #FFFFFF 0px 2px 1px, 
    						 #FFFFFF 2px 0px 1px, 
    						 #FFFFFF -2px 0px 1px, 
    						 #FFFFFF 0px -2px 1px, 
    						 #FFFFFF -1.4px -1.4px 1px, 
    						 #FFFFFF 1.4px 1.4px 1px, 
    						 #FFFFFF 1.4px -1.4px 1px, 
    						 #FFFFFF -1.4px 1.4px 1px;
	}
	
	.gap
	{
		height:20px;
		background:#d94817;
		padding-left:1px;
		border-right:1px #ec734b solid;
		margin:0px;
	}
	
	.M_Link div
	{
		padding-bottom:3px;
		padding-left:10px;
		padding-right:10px;
		background:#ee5d2e;
		display:inline;
	}