body {
    background-color: #f2f2f2;
    font-size: 16px;
    font-family: '微軟正黑體', MicrosoftJhengHei;
    width: 100%;
}

header {
    background-color: #fae7ab;
    overflow: auto;
}

/* 置頂麵包屑 */
nav#header-breadcrumb-nav {
    background: #f9d56e;
}

.ttb-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 3px;
    padding-bottom: 6px;
    margin-left: 60px;
    margin-bottom: 0;
    color: #696969;
    font-size: 0.875rem;
}

.ttb-breadcrumb a {
    color: #424242;
}

.ttb-breadcrumb-item {
    padding-right: .5rem;
}

.ttb-breadcrumb-item+.ttb-breadcrumb-item::before {
    content: ">";
    display: inline-block;
    padding-right: .5rem;
    color: #424242;
}

footer {
    background-color: #fae7ab;
    color: #3d475b;
    padding-top: 2%;
    margin: 0 !important;
    font-size: .875rem;
    width: 100%;
}

/* 桌面置頂區 */
#desk-header {
    width: 100%;
}

/* 置頂logo */
.header-logo {
    line-height: 78px;
}

.header-logo img {
    /*width: 168px;*/
    margin-left: 20px;
}

/* 置頂menu 外部連結系列 */
#header-nav {
    line-height: 78px;
    margin-bottom: 0;
    text-align: right;
}

#header-nav li {
    display: inline-block;
    margin: 0 5px;
}

#header-nav li a {
    color: #3d475b;
}

/* 多語系選項 */
.multi-lang-select {
    border: 1px;
}

/* 置頂上方會員區 */
#id-and-fast {
    display: block;
    width: 100%;
}

#id-block {
    display: inline-block;
    margin-top: 30px;
    margin-left: 60px;
}

#id-block div {
    margin: 25px auto 20px;
    text-align: center;
}

#id-block span {
    display: block;
}

span.id-name {
    display: block;
    color: #fab149;
    font-size: 1.25rem;
}

span.id-time {
    display: block;
    color: #696a6c;
    font-size: .75rem;
}

span.error{
    color: red;
    margin-left: 5px;
}

button.log-out-btn {
    padding: 7px 20px;
    margin-left: 15px;
    border-radius: 30px;
    border-color: #e3e3e3;
    background-color: #fab24f;
    color: #ffffff;
    font-size: .75rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: center;
}

#id-block-switch {
    height: 34px;
    background-color: #eda15f;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}

#id-block-switch a {
    color: #fff;
}

#id-block-switch p i {
    padding-left: 10px;
}

/* 快速選單 */
.content #fast-menu {
    position: absolute;
    top: 150px;
    right: 60px;
    display: inline-block;
}

.fast-menu-btn {
    display: inline-block;
    width: 130px;
    height: 39px;
    background-color: #fab24f;
    padding: .5rem;
    text-align: center;
}

a.fast-menu-btn {
    color: #fff;
}

#fast-menu-block {
    position: absolute;
    right: 39px;
    width: 333px;
    background-color: #ffffff;
    box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.17);
    z-index: 5;
}

#fast-menu-block ul li:first-child {
    margin-top: 20px;
}

#fast-menu-block ul li {
    margin: 16px 20px;
}

#fast-menu-block ul li a {
    display: inline-block;
    width: 70px;
    height: 23px;
    padding-top: 4px;
    text-align: center;
    background-color: #696a6c;
    color: #fff;
    font-size: .75rem;
}

#fast-menu-block ul li span {
    color: #696a6c;
}

/* 快速選單 小版的標題 */
.mobile-fast-menu-title {
    display: none;
}

/* 中間內容 非主要功能區 */
.content {
    margin: auto 0 30px 0;
}

/* 含icon menu */
#ttb-menu {
    width: 100%;
    text-align: center;
}

#ttb-menu a {
    color: inherit;
}

#ttb-menu ul.menu-list {
    max-width: 75%;
    padding-top: 10px;
    margin-bottom: 0;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

#ttb-menu ul.menu-list::-webkit-scrollbar {
    display: none;
}

#ttb-menu ul.menu-list li {
    display: inline-flex;
    text-align: center;
    padding: 0 24px;
    color: #424242;
    border: #f5eed9 1px solid;
}

#ttb-menu ul.menu-list li:hover {
    color: #ff8000;
}

#ttb-menu ul.menu-list li:hover .menu-img-block {
    box-shadow: 0 0 20px 0 rgba(164, 164, 164, 0.5);
}

.menu-img-block {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-color: #fff;
}

.menu-img-block img {
    width: 87px;
    height: 87px;
}

.menu-title {
    margin-top: 15px;
    font-size: 1.125rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: center;
    color: inherit;
    width: auto;
    white-space: pre-line;
}

#ttb-sec-menu {
    top: 410px;
    left: 0px;
    width: 100%;
    padding: 0 30px;
    background-color: #f2ebd7;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    z-index: 5;
}

.sec-menu {}

.sec-menu-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.sec-menu-list li {
    /*display: inline-table;*/
    flex: 0 1 33%;
}

.sec-menu-title {
    display: table-cell;
    vertical-align: middle;
    padding: 2px 15px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    color: #696a6c;
}

.sec-menu-title:hover, .sec-menu-title:active {
    color: #fbaa00;
}

/* 左右滑動 */
.triangle-left, .triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 20px;
    line-height: 0px;
    border-style: solid;
    background-color: #f2f2f2;
}

.triangle-left {
    left: 5%;
    border-width: 14.5px 16px 14.5px 0;
    border-color: #f2f2f2 #cccccc #f2f2f2 #f2f2f2;
}

.triangle-right {
    right: 5%;
    border-width: 14.5px 0 14.5px 16px;
    border-color: #f2f2f2 #f2f2f2 #f2f2f2 #ccc;
}

.homepage-img {
    display: block;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

/*左側選單*/
.content aside {}

#asied-menu {
    padding-left: 3%;
    z-index: 2;
}

/* 主要功能區 */
#main-content {
    margin-top: 15px;
    margin-bottom: 30px;
}

#main-content h2 {
    display: inline-block;
    margin-right: 10px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #626262;
}

/* 加入我的最愛 */
i.fa.fa-star, i.far.fa-star {
    font-size: 1.5rem;
}

.fa.fa-star {
    color: #fab24f;
}

.main-content-block {
    margin: 30px -15px 50px -15px;
    border-radius: 0px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}

.main-content-left, .main-content-right {
    display: inline-flex;
    width: 50%;
    max-height: 560px;
    -ms-overflow-style: none;
}

.main-content-left {
    float: left;
}

.main-content-right {
    float: right;
}

.main-content-left .ttb-todolist-checkbox, .main-content-right #calendar {
    max-height: 500px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.block-title {
    display: flex;
    padding: 10px 15px 0px;
    border-bottom: #ed6d00 2px solid;
}

.block-title div:nth-child(1) {
    text-align: left;
    flex: auto;
}

.block-title div:nth-child(2) {
    text-align: right;
}

.block-title h3 {
    display: inline;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #ed6d00;
}

/* 輸入欄位 */
.input-list li {
    display: flex;
    padding: 10px 20%;
}

.input-list li span {
    flex: 0 0 45%;
    padding-right: 20px;
    padding-top: .625rem;
}

.input-list li input[type=text], .input-list li select {
    flex: 1 1 55%;
}

.input-list li label {}

.input-list li input+label {
    margin: 10px 15px 0px 10px;
}

/* 呈現結果的選單 */
.ttb-result-block {
    text-align: center;
}

.ttb-result-block p {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #4a4a4a;
}

.ttb-result-list {
    display: flex;
    margin: 30px 40px;
    text-align: left;
    flex-wrap: wrap;
}

.ttb-result-list li {
    flex: 0 0 50%;
    margin-top: 15px;
    padding-left: 10%;
}

.ttb-result-list li.full-list {
    flex: 0 0 100%;
}

.ttb-result-list li h3 {
    margin-bottom: 2px;
    font-size: .875rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #424242;
}

.ttb-result-list li p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.9px;
    line-height: 1.5;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
}

/* 表格 */
table.ttb-table {
    width: -webkit-fill-available;
    margin: 30px -15px 50px -15px;
    border: solid 1px #f2f2f8;
    color: #000;
    text-align: center;
    line-height: 40px;
    word-break: break-all;
}

.ttb-table tr {}

.ttb-table tr:nth-child(odd) {
    background: #fff;
}

.ttb-table tr:nth-child(even) {
    background: #FFF
}

.ttb-table th {
    font-size: 1rem;
    background-color: #fdf1d2;
    border: solid 1px #f9d56e;
    word-break: break-all;
}

.ttb-table td {
    border: solid 1px #f2f2f8;
    padding-top: 10px;
}

/* 置底 */
footer img {
    float: right;
}

/* 置底麵包屑 */
nav#footer-breadcrumb-nav {
    background: #f9d56e;
}

nav#footer-breadcrumb-nav ul {
    margin: 0 auto;
    text-align: center;
}

nav#footer-breadcrumb-nav ul li {
    display: inline-block;
    margin: 8px 5%;
}

nav#footer-breadcrumb-nav ul li a {
    color: #4c4c4c;
    text-decoration: none;
}

/* 輸入選單 */
.ttb-input-block {
    text-align: left;
    margin: 10px 0;
    border-bottom: 1px #999999 solid;
}

/* 輸入匡tab */
.nav-item {
    width: 50%;
    color: #696a6c;
    background-color: #aaaaaa;
    border: none !important;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 2.3px;
}

.nav-tabs .nav-link.active {
    color: #696a6c;
    font-size: 1.25rem;
    letter-spacing: 2.9px;
    font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {}

/* 提示訊息 */
.ttb-message {
    text-align: center;
    margin: 0 auto;
}

.ttb-message h3 {
    font-size: 1.5rem;
    letter-spacing: 2.9px;
    font-weight: normal;
    color: #4a4a4a;
}

.ttb-message span {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 2.9px;
    color: #e2231a;
}

/* 每行輸入 */
div.ttb-input-block .ttb-input-item {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

div.ttb-input-block .ttb-input-item span:nth-child(1) {
    flex: 0 0 30%;
    margin-right: 5%;
}

div.ttb-input-block .ttb-input-item span:nth-child(2) {
    flex: 0 0 65%;
}

/* 輸入標題 */
.input-title {
    text-align: right;
    color: #000000;
}

.input-title h4 {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.9px;
    color: #000000;
}

/* 輸入欄位 */
.ttb-input-item input[type="text"],
.ttb-input-item select {
    width: 230px;
}

.ttb-input+.ttb-input {
    margin-top: 20px;
}

.sen-input {
    margin-left: 20px;
    margin-top: 0px !important;
}

.text-input,
.select-input {
    font-size: .875rem;
    padding: .625rem;
    color: #000000;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #bebec0;
    letter-spacing: 0.8px;
    font-weight: 400;
}

.radio-input, .check-input {
    margin-top: .925rem;
}

.text-input::placeholder,
.text-input:-ms-input-placeholder,
.text-input::-ms-input-placeholder {
    color: #aaaaaa;
    opacity: 1;
    /* Firefox */
}

.card-input {
    width: 55px !important;
}

/* ul li 有數字樣式 */
ul.list-decimal, ol.list-decimal {
    list-style-type: decimal;
}

/* 注意事項 */
.notice-block {}

.notice-list {
    list-style: disc;
    list-style-position: inside;
    padding-left: 25px;
}

.notice-list li {
    color: #696969;
}

/* 顏色 */
.must-color {
    color: #e2231a;
    border: solid 1.5px #e2231a;
}

.subtitle-color {
    color: #696a6c;
}

.high-light {
    color: #ed6d00;
    letter-spacing: 1.1px;
    font-weight: bold;
}

/* 按鈕 */
.ttb-sm-btn {
    display: inline;
    border-radius: 12.5px;
    padding: 0 10px;
    font-size: .875rem;
    line-height: 1.5rem;
}

.ttb-pup-btn {
    width: 150px;
    height: 41px;
    margin: 0 25px;
    border-radius: 20.5px;
    border-color: transparent;
    color: #fff;
}

.ttb-button {
    height: 41px;
    padding: 0 20px;
    margin: 0 10px 15px 10px;
    border-radius: 20.5px;
    border-color: transparent;
    color: #2d2d2d;
}

.btn-flat-orange {
    background-color: #f9d56e;
    box-shadow: 0 2px 10px 0 #f9d56e;
}

.btn-flat-gray {
    background-color: #fff;
    border-color: #999999;
}

.btn-flat-darkgray {
    background-color: #696a6c;
}

/* 整個網站連結樣式設定 */
a,
a:hover,
a:active {
    text-decoration: none;
}

/* 測試區 */
/* 手風琴展開式選單 */
/* 選單匡群組 */
.panel-group {}

/* 選單匡整體 */
.panel {
    padding: 0 1%;
    margin-top: -100px;
    margin-right: 15%;
}

/* 選單顏色 */
.panel-default {}

/* 選單匡標題區 */
.panel-heading {}

.panel-heading p {
    padding: 0 16px 0 0;
    margin: 0;
}

.panel-heading a {
    font-size: 1.125rem;
    font-weight: normal;
}

/* 選單匡標題文字 */
/* 選單匡標題文字 選定時 */
.panel-title,
a.panel-title:hover,
a.panel-title:active {
    color: #ed6d00;
    border-bottom: 1px solid #ed6d00;
    padding-bottom: 9px;
    margin-top: 30px;
}

/* 選單匡標題文字 收合時 */
.panel-title.collapsed {
    color: #aaaaaa;
    border-bottom: 1px solid #e9e9e9;
}

/* 選單匡內容 */
.panel-body {}

.panel-body ul {
    padding-left: 10%;
}

.panel-body ul li {
    margin-top: 5%;
}

.panel-body a {
    color: #696a6c;
    font-size: 1rem;
    font-weight: normal;
}

.panel-body a:hover {
    color: #000;
}

/* 彈出視窗 */
.modal-dialog {
    max-width: 80%;
}

.popup-windows {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
}

.popup-close-btn {
    position: absolute;
    height: 45px;
    width: 45px;
    top: -22px;
    right: -20px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #aaa;
    color: #fff;
    padding: 0px;
    font-size: 1.5rem;
    font-weight: 100;
    text-shadow: none;
    opacity: 1;
}

.ttb-pup-block {
    max-width: 690px;
    border: solid 1.2px #e3e3e3;
    border-radius: 4px;
    padding: 20px 24px;
    margin: 0 auto 10px auto;
}

.modal-header {
    border: none;
}

.ttb-pup-header {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #696a6c;
}

.ttb-pup-title {
    color: #000;
    letter-spacing: 0.9px;
}

.ttb-pup-title:hover {
    color: #000;
}

.ttb-pup-title-sub {
    color: #696a6c;
}

.ttb-pup-collapse {}

.ttb-pup-body {}

.ttb-pup-body ul.ttb-pup-list li {
    margin: 20px 0 30px 8.3%;
}

.ttb-pup-body ul li p {
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.21;
    letter-spacing: 0.5px;
    color: #696a6c;
}

.ttb-pup-body ul.ttb-pup-item li {
    display: inline-block;
    margin: 10px 5px;
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.31;
    letter-spacing: 0.9px;
    color: #000000;
}

.ttb-statement-content {
    max-width: 570px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2.38;
    letter-spacing: 3.3px;
    color: #000000;
    margin: 0 auto;
}

.ttb-pup-footer {
    display: block;
    text-align: center;
    border: none;
    padding-top: 0;
}

/* 問卷 */
.questionnaire-block {
    max-width: 575px;
    margin: 0 auto;
}

.questionnaire-block h3 {
    margin: 30px auto;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 2.9px;
    text-align: center;
    color: #696a6c;
}

.questionnaire-list {
    text-align: left;
}

.questionnaire-title p {
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.9px;
    color: #000000;
}

.questionnaire-answer {
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #000000;
}

.questionnaire-answer ul li {
    margin-bottom: 20px;
}

.questionnaire-result div p:nth-child(1) {
    font-size: .875rem;
    font-weight: 500;
    color: #000000;
}

.questionnaire-result div p:nth-child(2) {
    font-size: 1.875rem;
    font-weight: 500;
    letter-spacing: 2.2px;
    color: #ed6d00;
}

/* 登入後畫面的CSS */
#singIn-main-content {
    width: 100%;
    padding: 65px 0 60px 0;
}

.singIn-frist-banner {
    width: 100%;
    display: block;
    align-content: center;
}

.singIn-frist-banner h2 {
    display: inline-block;
}

.singIn-frist-banner i {
    display: inline-block;
    padding-left: 10px;
}

.assets {
    padding: 30px 30px 0 0;
    width: 100%;
}

.title {
    display: inline-block;
    font-size: 1.3rem;
    color: #ed6d00;
}

.assets-btn {
    display: float;
    float: right;
}

.underLine {
    height: 2px;
    background-color: #ed6d00;
}

.print-btn {
    border-radius: 12.5px;
    display: inline-block;
    width: 70px;
    height: 25px;
    background-color: #ed6d00;
    /* padding: .5rem; */
    text-align: center;
    color: #fff;
}

.print-btn:hover {
    color: #fff;
}

.assets-trial-btn {
    border-radius: 12.5px;
    display: inline-block;
    width: 98px;
    height: 25px;
    background-color: #ed6d00;
    /* padding: .5rem; */
    text-align: center;
    color: #fff;
}

.assets-trial-btn:hover {
    color: #fff;
}

.assetDistri {
    width: 100%;
    height: 340px;
    margin: 15px auto 0 auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}

.account-overview-btn {
    width: 260px;
    height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    background-image: linear-gradient(to right, #ed6d00, #f8e988);
    text-align: center;
    font-size: 1.375rem;
    color: #fff;
    position: relative;
    top: -20px;
}

.account-overview-btn:hover {
    color: #fff;
}

#singIn-main-content .bulletin-calendar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 30px 0 0;
}

#singIn-main-content .bulletin,
#singIn-main-content .calendar {
    display: inline-block;
    width: 46%;
}

#singIn-main-content #calendar,
#singIn-main-content .bulletin-contain {
    height: 325px;
    display: block;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    margin-top: 15px;
}

.icon-arrow {
    display: block;
    margin: 71.5px 12px;
}

.element-area {
    width: 760px;
    display: flex;
    margin: 28px auto;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.element-item {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.login-news {
    width: 100%;
    height: 225px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    padding: 30px 5% 0px 5%;
}

.news-area {
    width: 47.5%;
    height: 85px;
    display: flex;
    /* 平均高度留白，最左最又都不留白 */
    justify-content: space-between;
    /* 平均高度留白，最上最下都要留白 */
    align-content: space-between;
}

.news-img {
    width: 150px;
    height: 85px;
    margin-right: 15px;
    display: inline-block;
}

.news-info {
    width: 220px;
    height: 85px;
    display: inline-block;
}

.news-more {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 2px;
    position: relative;
    left: 90%;
}

.login-bottom {
    height: 36px;
    line-height: 36px;
    font-size: 0.75rem;
    letter-spacing: 1.2px;
    text-align: center;
    color: #4a4a4a;
    background-color: #cccccc;
}

.lg-login {
    height: 900px;
    background-image: url('../img/bg.png');
}

.lg-login .multi-lang-select ul {
    margin: 10px 10px 10px 75%
}

.multi-lang-select li {
    display: inline;
    margin: 7px 0px;
    padding: 3px 5px;
}

.multi-lang-select li a {
    color: #e8ddc9;
}

.lg-login .multi-lang-select ul li:nth-child(2) {
    border-right: #e8ddc9 1px solid;
    border-left: #e8ddc9 1px solid;
}

.lg-login .multi-lang-select li a.active {
    color: #ffffff;
    font-weight: bold;
}

.login-logo {
    display: block;
    margin: 20px auto 30px;
}

.lang-switch {
    width: 265px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: solid 1px rgba(255, 255, 255, .5);
}

.lang-switch a {
    display: inline-block;
    color: #fff;
    margin: 0 25px;
    font-size: 1.06rem;
    font-weight: bold;
}

.lang-switch a.active {
    border-bottom: solid 2px #ffffff;
}

.lg-login .login-input-block {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 45px;
    margin: 10px auto;
    padding: 0 15px;
    border-radius: 22.5px;
    background-color: rgba(255, 255, 255, 0.17);
    border: solid 1px rgba(255, 255, 255, 0.46);
}

.lg-login .login-input-block input {
    display: block;
    font-size: 1.125rem;
    font-weight: bold;
    width: 200px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.lg-login .login-input-block .veri-code-input {
    width: 100px;
}

.lg-login .login-input-block input:focus {
    outline: none;
}

.lg-login .login-input-block .question-mark {
    display: block;
    position: relative;
    top: 11.5px;
    width: 22px;
    height: 22px;
    background: url("../img/icon-question-mark-01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 11px;
    border: none;
}

.login-menu {
    background-color: rgba(209, 84, 0, 0.29);
    margin: 20px 6% 40px 6%;
    display: block;
    /* align-content:space-between; */
}

.login-menu ul {
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px auto;
    list-style-position: inside;*/
    list-style: disc;
    justify-content: space-between;
}

.login-menu ul li {
    flex: 0 0 35%;
    margin: 10px 5% 10px 10%;
}

.login-menu ul a {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    list-style-position: outside;
}

.enterprise-info p {
    font-size: 0.75rem;
    color: #ffffff;
    text-align: center;
}

.belongin-header,
#beLongin-header-nav,
.mobile-before-login,
.moblie-login-menu,
.footer-breadcrumb-nav,
.mobile-enterprise-info,
.mobile-icon {
    display: none;
}

/* 手機 */
@media screen and (max-width: 767px) {}

/* 平板 */
@media screen and (min-width: 767px) and (max-width: 992px) {}

/* 桌機 */
@media screen and (min-width: 992px) {}
