<TABLE width='91%' id='table0' border='0' bordercolor='#000000'
	cellspacing='0' cellpadding='0'>
	<p>客戶使用網路交易安全注意事項如下：</p>
	<ol>
		<li>貴客戶留存於臺灣企銀之電話號碼後五碼為[%#TELNO%]，提供您判斷此封郵件之真實性，若有疑慮請主動致電臺灣企銀往來分行。</li>
		<li>使用網路銀行交易時，於登入網路銀行前請先於瀏覽器的右下方細小扣鎖或鑰匙標誌上連按兩次滑鼠，已查閱電子銀行交易網站SSL電子憑證資料的有效性及正確性後，才使用該網頁功能登入網站。</li>
		<li>儘量不要經電子郵件內的超鏈結登入的電子銀行交易網站，除非可確定該超鏈結網站是真實的，例如網站的SSL憑證資訊是否有效。</li>
		<li>臺灣企銀決不會主動以Email或電話等管道向客戶要求提供有關個人敏感性資料（例：身分証字號或密碼），若您有懷疑或收到有類似上述之詐騙的電子郵件，請立即刪除該郵件並立刻致電台灣企銀往來分行。</li>
		<li>請勿利用公共場合之電腦進行網路銀行交易以防資料外洩。</li>
		<li>為保障客戶權益，本行電話銀行客戶密碼使用期限為一年，密碼屆期須變更後才可以執行其他交易，密碼變更程序請依語音導引操作。</li>
		<li>交易代號說明：

		<ul>VAB-經由本行加值型電子銀行服務系統進行之交易。</ul>

		<ul>VO&nbsp;&nbsp;-經由本行電話銀行服務系統進行之交易。</ul>
		<ul>NB&nbsp;&nbsp;-經由本行網際網路銀行服務系統進行之交易。</ul>
		<ul>MB&nbsp;&nbsp;-經由本行行動電話銀行服務系統進行之交易。</ul>
		<ul>FIS&nbsp;&nbsp;-經由財經公司EDI網路系統進行之交易。</ul>
		<ul>ECK-經由本行電子票據服務系統進行之交易。</ul>
		<ul>CHP-經由全國性繳費業務活期性帳戶（ID+ACCOUNT）非約定繳費之交易。</ul>
	</ol>
</TABLE>
